.custom-wuxForm-container{
	width: 100%;
	.section-container{
		width: 100%;
		.field-container{
			width: 100%;
      		margin-top: 5px;
      		margin-bottom: 5px;
			.fieldTitle-container{
				width: 100%;
			}
			.wux-controls-abstract{
				width: 100%;
			}
		}
		.field-container-toogle{
			display: flex;
			width: 100%;
      		margin-top: 5px;
      		margin-bottom: 5px;
			.fieldTitle-container{
				width: 100%;
			}
			.wux-controls-abstract{
				width: 20%;
			}
		}
	}
}

