<!-- <div class="createStickyTagButtons">
  <div class="createStickyTagButton">
  </div>
  <div class="createStickyTagButton">
  </div>
  <div class="createStickyTagButton">
  </div>
  <div class="createStickyTagButton">
  </div>
  <div class="createStickyTagButton">
  </div>
</div> -->
<!-- To force font load -->
<span style="font-family: 'leancanvas', monospace;position: absolute;top: -1000px;visibility: hidden; pointer-events: none;">dummy load font</span>
<div class="stickyNoteEdit"/>
<div class="stickyNoteCreateArea">
  <div class="stickyNoteCreateTitle" id="createStickyLabel">
    <%=createStickyLabel%>
  </div>
  <div class="stickyNoteCreatePanel">
    <div class="createStickyNoteButton">
    </div>
    <div class="createStickyActionButton">
    </div>
    <div class="createStickyIssueButton">
    </div>
  </div>
</div>
