.mapButtonView
{
  width: 120%;
  height: 100%;
  margin-top: 80%;
  left: -10%;
  position: absolute;
}
.mapIndicatorElement
{
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  background-color: lightgray;
}
.mapIndicatorElement.on
{
  background-color: #f98603 !important;
}
.mapNavigatorTop
{
  height: 15%;
  position: relative;
  width: 100%;
  top: -5%;
}
.mapNavigatorTop .navigateN
{
  height: 100%;
  position: relative;
  width: 70%;
  left: 15%;
  cursor: pointer;
}
.mapNavigatorCenter
{
  width: 100%;
  height: 70%;
  position: relative;
  display: flex;
}
.mapNavigatorCenter .navigateW
{
  height: 100%;
  position: relative;
  width: 15%;
  cursor: pointer;
  left: -5%;
}
.mapNavigatorCenter .navigateM
{
  width: 70%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.mapNavigatorCenter .navigateM .mapIndicator
{
  list-style: none;
}
.mapNavigatorCenter .navigateE
{
  height: 100%;
  position: relative;
  width: 15%;
  cursor: pointer;
  left: +5%;
}
.mapNavigatorBottom
{
  height: 15%;
  position: relative;
  width: 100%;
  top: 5%;
}
.mapNavigatorBottom .navigateS
{
  height: 100%;
  position: relative;
  width: 70%;
  left: 15%;
  cursor: pointer;
}
.mapButtonView .buttonIconImage
{
  position: absolute;
}
.mapButtonView .buttonView
{
  height: 100% !important;
  width: 100%  !important;
}
.mapButtonView .navigateN .buttonIconImage
{
  height: 200%;
  top: -50%;
  left: 25%;
  width: 50%;
  position: inherit;
  -webkit-transform: rotate(+180deg);
  -moz-transform: rotate(+180deg);
  transform: rotate(+180deg);
}
.mapButtonView .navigateS .buttonIconImage
{
  height: 200%;
  top: -50%;
  left: 25%;
  width: 50%;
  position: inherit;
}
.mapButtonView .navigateE .buttonIconImage
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 50%;
  top: 25%;
  left: -50%;
  width: 200%;
  position: inherit;
}
.mapButtonView .navigateW .buttonIconImage
{
  -webkit-transform: rotate(+90deg);
  -moz-transform: rotate(+90deg);
  transform: rotate(+90deg);
  height: 50%;
  top: 25%;
  left: -50%;
  width: 200%;
  position: inherit;
}
.mapButtonView .buttonView
{
  transition: opacity .3s ease-in-out;
  opacity: 1;
}
.onMap.mapButtonView .buttonView
{
  opacity: 0;
}
.navigationArrow .buttonIcon
{
    transition: opacity .3s ease-in-out;
    opacity: 0.3;
}
.onCustomize .navigationArrow .buttonIcon,
.onMeeting .navigationArrow .buttonIcon
{
    opacity: 0 !important;
}
.mapIndicatorElement.mapButtonAvailable
{
    background-color: #3AA0E2;
}
.mapFocused .mapIndicatorElement.mapButtonAvailable
{
    background-color: #7ebfe9;
}
.navigationArrow.arrowAvailable .buttonIcon
{
    opacity: 1;
}
.mainView.onSwipe .navigationArrow,
.mainView.onSwipe .navigateM,
.onMeeting .navigationArrow,
.onCustomize .navigationArrow
{
    touch-action: none !important;
    pointer-events: none !important;
}
.navigationArrow .tapFeedBack .buttonIconImage
{
    background: #1685cd36;
}
.mapIndicator
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.mapIndicatorRow1,
.mapIndicatorRow2,
.mapIndicatorRow3
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.mainView.onGuidedMeeting:not(.meetingLeader) .navigationArrow .buttonIcon,
.mainView.onFreeMeeting:not(.meetingLeader) .navigationArrow .buttonIcon
{
    opacity: 0 !important;
}
.mainView.onGuidedMeeting:not(.meetingLeader) .navigationArrow,
.mainView.onFreeMeeting:not(.meetingLeader) .navigationArrow,
.mainView.onGuidedMeeting:not(.meetingLeader) .navigateM,
.mainView.onFreeMeeting:not(.meetingLeader) .navigateM
{
    touch-action: none !important;
    pointer-events: none !important;
}
