.sidePanelView
{
  width: 100%;
  height: 100%;
}
.sidePanelHeader
{
  width: 100%;
  height: 7em;
  z-index: 50;
  position: absolute;
  top: 0;
  background-color: #627A8F;
  box-sizing: border-box !important;
}
.sidePanelHeaderIcon
{
  height: 60%;
  position: relative;
}
.sidePanelHeaderIconImage
{
  height: 65%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10%;
}
.sidePanelHeaderTitle
{
  height: 35%;
  font-size: 1.5em;
  color: #FFF;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
}
.sidePanelContent
{
  width: 100%;
  height: calc(100% - 7em);
  top: 7em;
  position: absolute;
  background-color: #627A8F;
  box-sizing: border-box !important;
}
.sidePanelClose
{
    width: 15%;
    height: 5em;
    position: absolute;
    right: 0;
    background-color: #627A8F;
    box-sizing: border-box !important;
    z-index: 50;
}
.sidePanelClose .buttonView.Close
{
  width: 90%;
  height: 85%;
  margin: auto;
  font-weight: bold;
}
