.wux-panels-panelbase.wux-panels-sidepanel.wux-panels-sidepanel-right 
{
    width: calc(100% - 22px) !important;
    margin-right: 22px !important;
}

.actionView .wux-layouts-gridengine-scroller-container
{
    background-color: white;
}

.actionView .dropZone 
{
    position: absolute;
    width:100%;
}

.actionViewMain
{
    height:100vh;
}

.actionViewMain .wux-layouts-treeview-expander
{
    display:none;
}

.actionHeader
{
    position: absolute;
    height:45px;
    width:100%;
}

.actionBody
{
    margin-top:45px;
    position: absolute;
    height:calc(100% - 45px);
    width:100%;
}

.actionBody .wux-tree-treelistview
{
    height:100%;
}

.actionView {
    pointer-events: all;
}
