.toolBarView, .toolBarViewSmall
{
    padding: 5px;
    position: absolute;
    height:45px;
    width:100%;
    background: white;
}

/*	Added MGA Auxiliary View	*/
.toolBarView, .toolBarViewSmall, .auxiliaryView-toolbar
{
	border-bottom: 2px solid rgba(192, 192, 192, 0);
    border-bottom-style: inset;
    -webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -ms-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease;
}

/*	Added MGA Auxiliary View	*/
.focus .toolBarView, .focus .toolBarViewSmall, .focus .auxiliaryView-toolbar
{
    border-bottom: 2px solid #368ec4;
}

.toolBarView .toolBarViewTitle
{
    height: 35px;
    left: 45px;
    width: calc(100% - 230px);
    position: absolute;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
}

.toolBarViewSmall .toolBarViewTitle
{
    height: 35px;
    left: 45px;
    width:calc(100% - 90px);
    position:absolute;
    padding-top: 2px;
    overflow: hidden;
}

.toolBarView .toolBarBody
{
    float: right;
    height: 35px;
    width: auto;
}

.toolBarView .toolBarBodySmall
{
    display:none;
}

.toolBarViewSmall .toolBarBody
{
    display:none;
}

.toolBarViewSmall .toolBarBodySmall
{
    float: right;
    height: 35px;
    width:45px;
}

.toolBarBodySmall .toolBarBodySmallUl
{
    position: absolute;
    top: 45px;
    right: 0px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background: #ffffff;
    z-index: 1000;
    display: none;
    padding: 5px 5px 0px 5px;
}

.toolBarBodySmallUl .toolBarBodySmallIl
{
    display: block;
    margin-bottom: 5px;
    height: 35px;
}

.toolBarViewIcon
{
    height: 35px;
    background-repeat: no-repeat;
    min-width: 35px !important;
    background-position:center;
    position:absolute;
}

.toolBarViewIcon img {

    width: auto;
    height: auto;
}

.toolBarViewTitleText
{
    color: #878787;
    font-family: '3dsregular'!important;
    font-weight: bold;
    font-size: 20px;
    word-break: break-all;
}

.toolBarBody img, .toolBarBodySmall img {

    width: 22px;
    height: 22px;
}

.toolBarBodySmall .wux-controls-button, .toolBarBody .wux-controls-button
{
    float: right;
}

.toolBarView .wux-controls-button, .toolBarViewSmall .wux-controls-button
{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    min-width: 35px !important;
    background-position:center;
    padding:0px;
    border: 1px solid transparent;
    border-radius: 2px;
    background: white;
}

.toolBarView .wux-controls-button:hover, .toolBarViewSmall .wux-controls-button:hover
{
    border: 1px solid #ccc;
    border-radius: 2px;
}
