@charset "ISO-8859-1";

.moduleUwa {
	width: 100% !important;
	border: none !important;
	height: 100% !important;
	background: rgba(0, 0, 0, 0);
	margin: 0 !important
}

body {
	height: 100% !important;
  display:grid;
}
html {
	height: 100% !important
}

.moduleHeader {
	display: none !important
}

.moduleFooter {
	display: none;
}

.moduleWrapper {
	height: 100%;
	font-size: 1 em;
}

.moduleContent {
	background-color: rgba(0, 0, 0, 0)
}
.triptych{
	position : relative;
	height : calc(100% - 60px);
	width : 100%;
	visibility:hidden;
/*	position:relative;*/ 
/*height:100vh !important;*/
}

.PreviewSaveInfoViewContainer{
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  margin:10px;
  font-size:13px;
	/*height :100%;*/
	/*width : 100%;*/ 
}
.ContextualInfo{
order:-1;
display :flex;
flex-flow: column;
}
.PreviewImg{
  /*max-width:100%;*/
  height: 120px;
  width: 199px;
	/*height: '100',*/
 border: 1px solid black;
}
.BookmarkInfo{
margin-top: 10px;
visibility:hidden ;
}
.Separator{
	order:0;
}
.SaveInfo{
  /*flex: 1;*/
  display :flex;
  flex-direction: column;
}
.warning_last{
  flex:1; /*important to keep check boxes at bottom of panel*/
  visibility: hidden;
}
.saveoptions{
  /*	position: absolute;*/
    font-size: 0.5 em;
    /*padding-top: 100px;*/
    order: 2;
    padding-bottom:20px;
  }
 .checkbox-container{
  height: 14px;
  width: 14px; 
  font-size:12px;
 }
.toolbar-container{
	position: relative; 
   /* padding-left:20px; */
   /* width: 100%; */
    height: 60px;
    top: 0px; 
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: flex-start;
}
.comboxbox-container{
	min-width: 130px;
	min-height: 32px;
	height: 29px;
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 15px;
	margin-right: 100px;
	}

.button{
	/*width: 32px; 
    height: 32px;*/
    z-index: 10001;
    margin-left: 1px;
    margin-right: 1px;
    /*margin-top: 10px;
    margin-bottom:10px;*/
}
.button-container{
    width: 50px; 
    height: 50px;
}
.contextual_bookmark_icon{
	float: left; 
	padding-right: 10px;
}
.WorkUnder_icon{
	float: left; 
	padding-right: 10px;
	
}
.check_box{
	width: 12px; !important;
    height: 12px;!important;
}
.warning_icon{
	float: left; 
	padding-right: 10px;
}
.contextual_bookmark_label{
	padding-top: 10px;
}

.WorkUnder{
	/*flex: 1;*/
	padding-top: 10px;
}

.titleIcon{
	float: left;
}
/*.toolbar {
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &.wux-toolbar-horizontal {
    flex-flow: row;
    height: auto;
    width: 100%;
    &.wux-toolbar-adaptToParent{
      height: 100%;
    }
    &.wux-toolbar-scroll{
      overflow-x: auto;
      overflow-y: hidden;
    }
    &.wux-toolbar-dropdown{
      overflow-x: hidden;
    }
  }
.wux-datagrid-cell-compact{
            height: 26px;
}*/


