.apr-flexpart-panel,
.apr-content-panel {
	padding: 1rem;
}

.apr-flexpart-panel {
	padding-right: 0;
}

.apr-flexpart-panel,
.apr-flexpart-scroller, 
.apr-flexpart-content {
	height: 100%;
}

.apr-content-frame-container,
.apr-content-frame,
.apr-content-panel,
.apr-content-placeholder {
	height: 100%;
	width: 100%;
}

.apr-content-placeholder,
.apr-flexpart-content .scroller-content {
	display: flex;
}

.apr-content-placeholder {
	align-items: center;
	justify-content: center;
}

.apr-flexpart-content .scroller-content {
	flex-wrap: wrap;
	align-content: flex-start;
}

.apr-content-panel {
	border-left: 1px solid #d1d4d4;
}

.apr-content-placeholder {
	font-size: 3rem;
	color: #77797c;
}

/* overrides */

.card {
	width: 150px;
	height: 150px;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: border-color 0.5s ease, box-shadow 0.5s ease;
	overflow: hidden;
}

.card:hover {
	cursor: pointer;
	border-color: rgba(0, 86, 134, 0.3);
	box-shadow: 0 1px 2px rgba(0, 86, 134, 0.35);
}

.card-block {
	width: 100%;
}

.card img {
	max-width: 100px;
}

.card.card-thumbnail-selectable::before {
	display: none;
}

.card h5.card-subtitle:last-child {
	margin-bottom: 0;
}

.card .card-title {
	font-size: 12px;
}

.card .card-subtitle {
	display: none;
}

.mask {
	background-color: white;
}
