.mat-item
{
    background-image: url('../../../SMAWebMaterialUI/assets/icons/I_Material_Nav_core16x16.png');
    background-repeat: no-repeat;
    background-position-y: center;
    height: 3rem;
    padding: .5rem .5rem 0px 32px;
    white-space: nowrap;
}

.mat-item:hover
{
    background-color: Azure;
}

.mat-item-clicked
{
    background-color: AliceBlue;
}

.mat-table th
{
    font-weight: bold;
    color: #777;
    padding: 5px 5px;
}

.mat-table tr:first-child
{
    border-bottom: 2px solid #ddd;
}

.mat-table tr
{
    padding: 5px 5px;
    border-bottom: 1px solid #ddd;
}

.mat-table td
{
    padding: 5px 5px;
}

.mat-search-reset
{
    background-image: url(../icons/I_Reset.png);
    background-size:  contain;
    float:    right;
    position: relative;
    display:  inline;
    height:   12px;
    width:    12px;
    bottom:   19px;
    right:    5px;
    cursor:   pointer;
}

.mat-hitcount
{
    color: #808080;
}

.mat-search-count
{
    display:    inline;
    float:      right;
    position:   relative;
    right:      10px;
    bottom:     22px;
    text-align: right;
}

.mat-rgb-box
{
    display: inline-block;
    width: 36px;
    height: 1.5rem;
    margin: 0px 5px 0px 0px;
    vertical-align: text-bottom;
}
