  div.range-slider {
    position: relative;
    /* width: 100%;  */
    height: 35px;
    text-align: center;
}

div.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    /* width: 200px; */
    outline: none;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color : transparent;
}

div.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

div.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

div.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
div.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  div.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}





input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #368EC4;
  border-radius: 10px;
  border: 1px solid #005686;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #005686;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #368EC4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

/* add K8T */
div.range-slider:hover input[type=range]::-webkit-slider-thumb {
    border-color: #005686;
    background-color: #005686;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #368EC4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #368EC4;
  border-radius: 10px;
  border: 1px solid #005686;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #005686;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #368EC4;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #368EC4;
  border: 1px solid #005686;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #368EC4;
  border: 1px solid #005686;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}

/* add K8T */
div.range-slider:hover input[type=range]::-ms-thumb {
    border-color: #005686;
    background-color: #005686;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #005686;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #368EC4;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #368EC4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #368EC4;
}









/* disabled CSS  */


input[type=range]:disabled::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F9F9F9;
  border-radius: 10px;
  border: 1px solid #B4B6BA;
}
input[type=range]:disabled::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #B4B6BA;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #F9F9F9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

/* add K8T */
div.range-slider:hover input[type=range]:disabled::-webkit-slider-thumb {
    border-color: #B4B6BA;
    background-color: #F9F9F9;
}

input[type=range]:disabled::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F9F9F9;
  border-radius: 10px;
  border: 1px solid #B4B6BA;
}
input[type=range]:disabled::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #B4B6BA;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #F9F9F9;
  cursor: pointer;
}
input[type=range]:disabled::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]:disabled::-ms-fill-lower {
  background: #F9F9F9;
  border: 1px solid #B4B6BA;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]:disabled::-ms-fill-upper {
  background: #F9F9F9;
  border: 1px solid #B4B6BA;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}

/* add K8T */
div.range-slider:hover input[type=range]:disabled::-ms-thumb {
    border-color: #005686;
    background-color: #005686;
}

input[type=range]:disabled::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #B4B6BA;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #F9F9F9;
  cursor: pointer;
}

input[type=range]:disabled:focus::-ms-fill-lower {
  background: #F9F9F9;
}
input[type=range]:disabled:focus::-ms-fill-upper {
  background: #F9F9F9;
}

div.range-slider:hover input[type=range]::-ms-thumb {
    border-color: #B4B6BA;
    background-color: #F9F9F9;
}
