.leangetView.actionLogView
{
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: calc(100% - 0.5em);
    height: 100%;
    position: absolute;
}
.infraView:not(.maximize) .actionLogView
{
    font-size: 0.4vw;
}
.pageView:not(.maximize) .infraView:not(.maximize) .actionLogView
{
    font-size: 0.2vw;
}
.pageView .infraView:not(.maximize) .actionLogView
{
    font-size: 0.3vw;
}


.infraView.ActionLogView .infraTemplate
{
    background-color: #d1d4d4;
}


.actionLogTemplate
{
  width: 100%;
  height: 100%;
  display:block;
  position: absolute;
  box-sizing: border-box !important;
}


.actionlogSection
{
  margin: 0.5em;
  text-align: center;
  border-radius: 1em;
  box-shadow: none;
  position: absolute;
}
.infraView.focused .actionlogSection
{
    box-shadow: 0.15em 0.15em 0.15em #999999;
}

.actionlogSection .alHeader
{
    height: 3em;
    color: white;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    display: none;
}
.infraView.maximize .actionlogSection .alHeader
{
    display: block;
}
.actionlogSection .alHeader > h2
{
    font-size: 1.25em;
    line-height: 2.5em;
    margin: 0px;
    display: none;
}
.infraView.focused .actionlogSection .alHeader > h2
{
    display: block;
}


.actionlogSection .alContent
{
    visibility: visible;
    position: relative;
    height: calc(100% - 3em);
    justify-content: center;
    display: none;
}
.infraView.maximize .actionlogSection .alContent
{
    display: block;
}
.actionlogSection .alContent > img
{
    height: 75%;
}

.actionlogSection.alParking
{
    top: 70%;
    left: 0;
    width: calc(50% - 1.6em);
    height: calc(30% - 1.6em);
    border: 0.3em solid white;
    box-shadow: none !important;
}
.infraView.focused .actionlogSection.alParking
{
    border: 0.3em dashed white;
}
.actionlogSection.alParking .alHeader > h2
{
    font-weight: 500;
    color: white;
}
.actionlogSection.alParking.actionLogCanDrop
{
    background-color: #C0CBD1;
}

.actionlogSection.alToday
{
    top: 0;
    left: 0;
    width: calc(25% - 1em);
    height: calc(70% - 1em);
    background-color: white;
}
.actionlogSection.alToday .alHeader
{
    background-color: #78befa;
}
.actionlogSection.alToday .alHeader > h2
{
    font-weight: 500;
}
.actionlogSection.alToday.actionLogCanDrop
{
    background-color: #C0CBD1;
}

.actionlogSection.alTomorrow
{
    top:0;
    left:25%;
    width: calc(25% - 1em);
    height: calc(70% - 1em);
    background-color: white;
}
.actionlogSection.alTomorrow .alHeader
{
    background-color: #78befa;
}
.actionlogSection.alTomorrow .alHeader > h2
{
    font-weight: 500;
}
.actionlogSection.alTomorrow.actionLogCanDrop
{
    background-color: #C0CBD1;
}

.actionlogSection.alWeek
{
    top:0;
    left:50%;
    width: calc(25% - 1em);
    height: calc(70% - 1em);
    background-color: white;
}
.actionlogSection.alWeek .alHeader
{
    background-color: #78befa;
}
.actionlogSection.alWeek .alHeader > h2
{
    font-weight: 500;
}
.actionlogSection.alWeek.actionLogCanDrop
{
    background-color: #C0CBD1;
}


.actionlogSection.alNext
{
    top: 0%;
    left:75%;
    width: calc(25% - 1em);
    height: calc(70% - 1em);
    background-color: white;
}
.actionlogSection.alNext .alHeader
{
    background-color: #78befa;
}
.actionlogSection.alNext .alHeader > h2
{
    font-weight: 500;
}
.actionlogSection.alNext.actionLogCanDrop
{
    background-color: #C0CBD1;
}


.actionlogSection.alDone
{
    top: 70%;
    left: 50%;
    width: calc(50% - 1em);
    height: calc(30% - 1em);
    background-color: #EDF6EB;
}
.actionlogSection.alDone .alHeader > h2
{
    font-weight: 500;
    color: #477738;
}
.actionlogSection.alDone.actionLogCanDrop
{
    background-color: #d6f2d1;
}

.hideContentImg .alContent > img
{
    display: none;
}

.ActionLogView .taskNoteView.outOfSight
{
    display: none;
}
