.kpiView .chart
{
    height: 100%;
    width: 100%;
}

/** Force Highcharts responsive */
.kpiView .chart .highcharts-container
{
    width: 100%!important;
    height: 100%!important;
}

.kpiView .chart .highcharts-container svg
{
    width: 100%!important;
    height: 100%!important;
    font-size: 0.85em !important;
}

.kpiView .chart svg .highcharts-data-labels
{
    pointer-events: none;
}

/** Prevent halo from occulting pan events **/
path.highcharts-halo.highcharts-color-0
{
    pointer-events: none;
}
.infraView:not(.maximize) .highcharts-axis-labels,
.infraView:not(.maximize) .highcharts-data-label,
.infraView:not(.maximize) .highcharts-axis,
.infraView:not(.maximize) .highcharts-grid.highcharts-xaxis-grid,
.infraView:not(.maximize) .highcharts-grid.highcharts-yaxis-grid,
.infraView:not(.maximize) .highcharts-markers.highcharts-line-series,
.infraView:not(.maximize) .highcharts-graph.highcharts-zone-graph-1
{
    display: none;
}
.highcharts-grid.highcharts-yaxis-grid path.highcharts-grid-line
{
    stroke: #b4b6ba;
    stroke-width: 0.1em !important;
}
.highcharts-graph
{
    stroke-width: 0.25em;
}
.infraView:not(.maximize) .highcharts-series.highcharts-line-series path
{
    stroke-width: 0.8em !important;
}

tspan
{
    font-family: "3ds", sans-serif;
    fill: #005685 !important;
}
.highcharts-axis-title
{
    font-size: 1.5em;
}
.highcharts-menu-item
{
    color: rgb(0, 86, 133) !important;
    font-size: 0.75em !important;
}
.highcharts-menu-item:hover
{
    color:white !important;
    background:  rgb(0, 86, 133) !important;
}
.highcharts-menu
{
    box-shadow: rgb(0, 86, 133) 0px 0px 0.5em !important;
    border: none !important;
    border-radius: 0.2em !important;
}
.highcharts-contextbutton
{
    display: none;
}
.highcharts-contextmenu
{
    top: -1em !important;
    padding: 1.5em !important;
    right: -1em !important;
}
.highcharts-menu hr
{
    border-top: 0.1em solid #0056858c !important;
}
.highcharts-axis-labels text
{
    color: #005685 !important;
    fill: #005685 !important;
    font-size: 1em !important;
}
.highcharts-data-label text
{
    font-size: 1em !important;
}
.highcharts-graph.highcharts-zone-graph-1
{
    stroke-dasharray: 1em, 0.5em !important;
}
