.playerView
{
    display: flex;
    flex-direction: column;
}
.videoplayer
{
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
}
.videoController
{
    box-sizing: border-box !important;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
