.webviewerContainer, 
.webviewerContainerCasted
{
    width:	100%;
    height: 100%;
}
.webviewerFrame, .webviewerContainer, 
.webviewerContainerCasted
{
    position: absolute;
}
.webviewerContainerCasted
{
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
.webviewerUri
{
    margin: 1em;
    width: 70%;
}
.webviewerContainerEmpty
{
    box-sizing: border-box !important;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background: white;
}
.webviewerContainerEmptyImg
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.webviewerContainerCoachMarkImg
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.infraView .webViewerView iframe
{
    transform-origin: 0 0;
    transition: none !important;
}
.pageView.maximize.customizeMenuOpened:not(.focused) .infraView:not(.focused) .webViewerView iframe
{
    display: none !important;
}
