
.loadmsg{
  display: none;
  float: left;
}

.loadmsg-visible {
  display: block;
}

.mandatory{
  font-style: italic;
  color: #841000 !important;
}
.btn-create , .btn-cancel {
  margin-right: 10px;
}

.mediummodal {
   box-sizing: border-box;
   padding-left: 5%;
   padding-right: 5%;
 }

.form{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.form-group{
    box-sizing: border-box;
    margin-bottom: 15px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: inherit;
}

.form-title{
  display: block;
}

.form-select option {
  font-family: Arial;}

.form-select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  font-family: Arial;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.form-select:focus {
  border-color: #66afe9;
  outline: 0; }

.form-select:-moz-placeholder {
  color: #999; }

.form-select::-moz-placeholder {
  color: #999;
  opacity: 1; }

.form-select:-ms-input-placeholder {
  color: #999; }

.form-select::-webkit-input-placeholder {
  color: #999; }

.form-select.placeholder {
  color: #999; }

.form-select[disabled], .form-select[readonly],
fieldset[disabled] .form-select,
.form-select[disabled] + .select-choice,
.form-select[readonly] + .select-choice {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1; }

.help-text {
  display: none;
  font-family: '3ds-Light';
  font-size: 12px;
  color: #77797c;
}

.display {
   display: inline-block;
}
