.tool-facet-panel {
	padding: 20px;
	overflow-y:auto;
}

.fonticon-play:after{
	content: "  Run";
	font-family: "3ds-light";
} 

.fonticon-play:hover{
	opacity:1;	
}

.fonticon-play{
	width:75px !important;
	float:right;	
	color: white;
	opacity:0.6;
	background:#368ec4;	
	border-radius: 5px;
}

.spinnerOverlay{
	height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    opacity: 0.5;
    background-color: #fff;    
}

.showOnTop{
	z-index: 1030;
}

.closeStudyButton{
	position:fixed;
	right:0px;
	bottom:0px;
	z-index:1000;
}
