<div class="customizeOff">
    <div class="coachmarkLine">
        <div class="imgContainer">
            <img src="<%- iconPath %>/SideBar/SideBarActionStickies.svg">
        </div>
        <span><%- nls_coachmark_map_tools %></span>
    </div>
    <div class="coachmarkLine">
        <div class="imgContainer">
            <img src="<%- iconPath %>/SideBar/SideBarActionCustomize.svg">
        </div>
        <span><%- nls_coachmark_map_customize %></span>
    </div>
    <div class="coachmarkLine">
        <div class="imgContainer">
            <img src="<%- iconPath %>/SideBar/SideBarActionDeleteAll.svg">
        </div>
        <span><%- nls_coachmark_map_select %></span>
    </div>
</div>
<img class="customizeOn" width="100%" height="100%" src="<%- iconPath %>/CoachMark/CustomEmptyMapView.svg"></img>
