.ImplementUI-Container
{
	margin-left: 0px;
	width: 400px;
	max-height: 550px;
	overflow-x: hidden;

	.toggle-accordeon-container{
		margin-left: 10px;
		overflow: hidden;
		padding: 0px;
	}
	.toggle-switch-container{
		margin-left: 15px;
		overflow: hidden;
		padding: 0px;
		display: inline-flex;
	}
	.wux-type-inline-container{
		overflow: hidden;
		padding: 0px;
		display: flex;
		margin-right: 0px;
		margin-top: 7px;
	}
	.Type-Container{
		margin-left: 10px;
	}
	.wux-type-textElement{
		text-align: left;
		font-weight: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0px;
		margin-top: 4px;
		width: 35%;
	}
	.wux-controls-abstract.wux-controls-combobox, .wux-controls-abstract.wux-controls-lineeditor
	{
		width : 100%;
	}
}
