<div class="actionLogTemplate">
    <div class="actionlogSection alToday">
        <div class="alToday alHeader"><h2><% if (get('V_DEL3DL_AL_TodayTitle')) { %> <%- get('V_DEL3DL_AL_TodayTitle') %><% } else { %><%- getNls('today_column') %><% } %></h2></div>
        <div class="alToday alContent"></div>
    </div>
    <div class="actionlogSection alTomorrow">
        <div class="alTomorrow alHeader"><h2><% if (get('V_DEL3DL_AL_TomorrowTitle')) { %> <%- get('V_DEL3DL_AL_TomorrowTitle') %><% } else { %><%- getNLS('tomorrow_column') %><% } %></h2></div>
        <div class="alTomorrow alContent"></div>
    </div>
    <div class="actionlogSection alWeek">
        <div class="alWeek alHeader"><h2><% if (get('V_DEL3DL_AL_WeekTitle')) { %> <%- get('V_DEL3DL_AL_WeekTitle') %><% } else { %><%- getNls('thisweek_column') %><% } %></h2></div>
        <div class="alWeek alContent"></div>
    </div>
    <div class="actionlogSection alNext">
        <div class="alNext alHeader"><h2><% if (get('V_DEL3DL_AL_NextTitle')) { %> <%- get('V_DEL3DL_AL_NextTitle') %><% } else { %><%- getNls('next_column') %><% } %></h2></div>
        <div class="alNext alContent"></div>
    </div>
    <div class="actionlogSection alParking">
        <div class="alParking alHeader"><h2><% if (get('V_DEL3DL_AL_ParkingTitle')) { %> <%- get('V_DEL3DL_AL_ParkingTitle') %><% } else { %><%- getNls('parking_column') %><% } %></h2></div>
        <div class="alParking alContent">
            <img class="actionLogWaitingIcon" src="<%- actionLogWaitingIcon %>"/>
        </div>
    </div>
    <div class="actionlogSection alDone">
        <div class="alDone alHeader"><h2><% if (get('V_DEL3DL_AL_DoneTitle')) { %> <%- get('V_DEL3DL_AL_DoneTitle') %><% } else { %><%- getNls('done_column') %><% } %></h2></div>
        <div class="alDone alContent">
            <img class="actionLogClosedIcon" src="<%- actionLogClosedIcon %>"/>
        </div>
    </div>
</div>
