<div class="issueLogTemplate">
  <div class="issuelogTop">
  	<div class="issuelogSection ilParking">
        <div class="ilParking ilHeader"><h2><%- waiting_column %></h2></div>
        <div class="ilParking ilContent">
  		    <img class="issueLogWaitingIcon" src="<%- issueLogWaitingIcon %>"/>
        </div>
  	</div>
    <div class="issuelogSection ilResponsibleAssigned">
    	<div class="ilResponsibleAssigned ilHeader"><h2><%- responsible_assigned_column %></h2></div>
    	<div class="ilResponsibleAssigned toppriority"><p class="toppriorityLine">TOP PRIORITY - TOP PRIORITY - TOP PRIORITY - TOP PRIORITY</p></div>
    </div>
    <div class="issuelogSection ilActionsIdentified">
    	<div class="ilActionsIdentified ilHeader"><h2><%- actions_identified_column %></h2></div>
    	<div class="ilActionsIdentified toppriority"><p class="toppriorityLine">-- TOP PRIORITY - TOP PRIORITY - TOP PRIORITY - TOP PRIORITY - TOP PRIORITY --</p></div>
    </div>
    <div class="issuelogSection ilIssueClosed">
    	<div class="ilIssueClosed ilHeader"><h2><%- issue_closed_column %></h2></div>
    	<div class="ilIssueClosed ilContent">
			  <img class="issueLogClosedIcon" src="<%- issueLogClosedIcon %>"/>
  		</div>
    </div>
  </div>
</div>
