<img class="sketchLeangetBackgroundImage" id="sketchLeangetBackgroundImage" onerror="this.style.display='none'" style="display: block;"/>
<div class="sketchLeangetDrawArea" id="sketchLeangetDrawArea"></div>
<img class="sketchLeangetForegroundImage" id="sketchLeangetForegroundImage" onerror="this.style.display='none'"/>

<div class="sketchLeangetSketchButtonsToolBar">
    <div class="sketchLeangetSketchButtons">
        <div class="sketchLeangetSketchButton">
            <div id="sketchLeangetSketchPenButton">
            </div>
            <div class="sketchLeangetSketchCircleButton" id="sketchLeangetSketchColorCircleButton">
            </div>
        </div>
        <div class="sketchLeangetSketchButton" id="sketchLeangetSketchEraseButton">
        </div>
        <div class="sketchLeangetSketchButton" id="sketchLeangetSketchClearButton">
        </div>
        <div class="sketchLeangetSketchButton" id="sketchLeangetSketchUndoButton">
        </div>
        <div class="sketchLeangetSketchButton" id="sketchLeangetSketchRedoButton">
        </div>
        <div class="sketchLeangetSketchButton">
            <div id="sketchLeangetSketchImageButton">
            </div>
            <div class="sketchLeangetSketchCircleButton" id="sketchLeangetSketchImageCircleButton">
            </div>
        </div>
    </div>
    <div class="sketchLeangetSketchButton" id="sketchLeangetSketchHideShowButton">
    </div>
</div>
