<div class="leangetTeamHeader">
    <img class=teamThumbnail src=""/>
    <div class="name">
        <span class="firstname">
            <%- firstname %>
        </span>
        <span class="lastname">
            <%- lastname %>
        </span>
    </div>
</div>

<div class="leangetPersonListRegion"></div>

<div class="leangetTeamHeader otherTeams">
    <div class="name">
        <span class="firstname">
            <%- getNls('LeangetTeam_OtherTeams') %>
        </span>
        <span class="lastname">
        </span>
    </div>
</div>
<div class="leangetTeamListRegion"></div>
