.mapEmptyView
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mapEmptyView > img
{
    mix-blend-mode: darken;
    position: absolute;
    filter: grayscale(70%) brightness(140%);
}

.mapEmptyView .customizeOn
{
    visibility: hidden;
}

.mapEmptyView .customizeOff
{
    visibility: visible;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20%;
}

.mapEmptyView .coachmarkLine
{
    color: #239de8;
    font-family: '3ds';
    height: 10%;
    margin: 5% 0;
    font-size: 3em;
    display: flex;
    align-items: center;
}

.mapEmptyView .coachmarkLine > span
{
    line-height: 1em;
    width: 80%;
}

.mapEmptyView .coachmarkLine .imgContainer
{
    height: 100%;
    width: 3em;
    display: flex;
    margin-right: 2em;
}

.mapEmptyView .coachmarkLine .imgContainer > img
{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.customizeMenuOpened .mapEmptyView .customizeOn
{
    visibility: visible;
}

.customizeMenuOpened .mapEmptyView .customizeOff
{
    visibility: hidden;
}
