.pageEmptyView
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.pageEmptyView > img
{
    position: absolute;
}
.pageEmptyView .customizeOn
{
    visibility: hidden;
}
.pageEmptyView .customizeOff
{
    visibility: visible;
}
.customizeMenuOpened .pageEmptyView .customizeOn
{
    visibility: visible;
}
.customizeMenuOpened .pageEmptyView .customizeOff
{
    visibility: hidden;
}
