@import url("base.css");

@font-face {
    font-family: "3ds";
    src: url('fonts/3dsRegular.otf');
}
@font-face {
    font-family: "3ds";
    font-weight: bold;
    font-style: italic;
    src: url('fonts/3dsBoldItalic.otf');
}
@font-face {
    font-family: "3ds";
    font-weight: bold;
    src: url('fonts/3dsBold.otf');
}
@font-face {
    font-family: "3ds";
    font-style: italic;
    src: url('fonts/3dsItalic.otf');
}
@font-face {
    font-family: "3ds";
    font-weight: 200;
    src: url('fonts/3dsLight.otf');
}
@font-face {
    font-family: "3dsCondensed";
    src: url('fonts/3dsCondensedRegular.otf');
}
@font-face {
    font-family: "3dsCondensed";
    font-weight: bold;
    src: url('fonts/3dsCondensedBold.otf');
}
@font-face {
    font-family: "3ds Condensed";
    font-weight: 200;
    src: url('fonts/3dsCondensedLight.otf');
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#ds-layout {
	background: #686868;
}

#layout-header {
	background:#474747 url("ds/Top_Bar_Layer_Top.png") repeat-x left top;
	height: 44px;
}

#layout-content {
	left: 1px;
	right: 1px;
	bottom: 1px;
	top: 67px;
	margin-top: 5px;
}

#layout-header > #ds-logo {
	z-index: 10;
	background-image: url("ds/3ds_Logo.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 9px;
	top: 6px;
	width: 32px;
	height: 32px;
}

#layout-header > .elorn-controlbar {
	position: absolute;
	top: 44px;
	width: 100%;
	padding: 0 0 0 120px;
	left: 0;
	background-color: #171617;
	background-image: linear-gradient(bottom, rgb(104,104,104) 10%, rgb(0,0,0) 110%);
	background-image: -o-linear-gradient(bottom, rgb(104,104,104) 10%, rgb(0,0,0) 110%);
	background-image: -moz-linear-gradient(bottom, rgb(104,104,104) 10%, rgb(0,0,0) 110%);
	background-image: -webkit-linear-gradient(bottom, rgb(104,104,104) 10%, rgb(0,0,0) 110%);
	background-image: -ms-linear-gradient(bottom, rgb(104,104,104) 10%, rgb(0,0,0) 110%);
}

#layout-header > #ds-compass {
	z-index: 10;
	background-image: url("ds/Compass_small.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 62px;
	top: 3px;
	width: 73px;
	height: 73px;
}

#layout-header > .ds-banner  {
	position: absolute;
	left: 160px;
	top: 17px;
	width: auto;
	height: 22px;
}

.ds-ifwe {
	display: inline;
	font-family: "3ds", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 17px;
	color:white;
}

.ds-ifwe-search {
	display: inline;
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #C1C1C1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0;
	width: 250px;
	margin-left: 200px;
}

.gwt-MenuBar-vertical {
	border-color: #5C5C5C;
}

.elorn-labelled {
	border-color: #5C5C5C;
}

.elorn-tabbar {
	line-height: 21px;
	background-color: #474747;
	background-image: linear-gradient(bottom, rgb(104,104,104) 0%, rgb(0,0,0) 160%);
	background-image: -o-linear-gradient(bottom, rgb(104,104,104) 0%, rgb(0,0,0) 160%);
	background-image: -moz-linear-gradient(bottom, rgb(104,104,104) 0%, rgb(0,0,0) 160%);
	background-image: -webkit-linear-gradient(bottom, rgb(104,104,104) 0%, rgb(0,0,0) 160%);
	background-image: -ms-linear-gradient(bottom, rgb(104,104,104) 0%, rgb(0,0,0) 160%);
}

.elorn-fill > div > .elorn-tabgroup > .elorn-tabbar,  
.elorn-fill > .elorn-tabgroup > .elorn-tabbar {
	line-height: 21px;
}

.elorn-tabbar > * {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: white;
	border: none;
	border-bottom: none; 
	
}

.elorn-tabcontent {
	border: 6px solid white;
	background-color: white;
}

.elorn-tabcontent > * {
	border-radius: 0;
}

.elorn-tabbar > .elorn-selected {
	background-color: white;
	color: #5C5C5C;
	background-image: linear-gradient(bottom, rgb(255,255,255) 50%, rgb(0,0,0) 200%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(0,0,0) 200%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(0,0,0) 200%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(0,0,0) 200%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 50%, rgb(0,0,0) 200%);
}

.elorn-droppable {
	border: 3px dashed #a0b4bf;
}

.elorn-dialog {
	opacity: 0.95;
}

.elorn-dialog > header {
	background-color: #272727;
}

.elorn-dialog > header > h1 {
	color: white;
	font-weight: bold;
	font-size: 26px;
}

.elorn-dialog > section {
}

.elorn-dialog > footer {
}

.elorn-dialog > header > p {
	color: white;
	font-size: 20px;
}

button {
	font-weight: normal;
	border: 1px solid #5C5C5C;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

button > img {
	vertical-align: middle;
}

button:hover {
	border: 1px solid black;
	font-weight: normal;
}

button:active {
	border: 1px solid black;
	color: white;
	background-color: #5C5C5C;
}

input[type="checkbox"] {
	border: 1px solid #5C5C5C;
}

input[type="text"], textarea {
	border-color: #5C5C5C;
}

input[type="text"]:hover, textarea:hover,
input[type="text"]:focus, textarea:focus {
	border-color: black;
}


.elorn-fill > div > .elorn-tabgroup > .elorn-tabbar,  
.elorn-fill > .elorn-tabgroup > .elorn-tabbar {
	height: 29px;
	padding-top: 5px;
}

.elorn-canvas > .elorn-controlbar {
	position:absolute; 
	top:20px;
	left:30px;
}

.elorn-canvas > .elorn-controlbar > * {
	display: block;
	margin-top: 5px;
}

.elorn-canvas > .elorn-controlbar > button {
	border: none;
	padding: 1px;
}

.elorn-canvas > .elorn-controlbar > button:hover {
	border: 1px solid black;
	padding:0;
}


/* Vertical slider */

.elorn-slider {
	position: relative;
	width: 20px;
	height: 150px;
}

.elorn-slider-bar {
	position: absolute;
	background: #CCC;
	border: 1px solid #999;
	-webkit-border-radius:  3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	left: 15px;
	top: 0;
	width: 4px;
	height: 150px;
}

.elorn-slider-cursor {
	position: absolute;
	background: #EEE;
	border: 1px solid #999;
	-webkit-border-radius:  3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	left: 7px; 
	top: 50px; /* initial position */
	width: 20px;
	height: 10px;
}
