@import url("base.css");

body {
}

#layout-header {
}

#layout-content {
}

.elorn-fullscreen {
	position: fixed;
	z-index:  100;
	background-color: white;
}

.elorn-fill {
}

.elorn-site {
}

.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

.elorn-form > label {
}

.elorn-labelled {
}

.elorn-form {
}

.elorn-form > * {
}

.elorn-tabgroup {
}

.elorn-tabbar {
}


.elorn-tabbar > * {
}

.elorn-tabbar > .elorn-selected {
}

.elorn-tabbar > div > img {
}

.elorn-tabcontent {
}

.elorn-tabcontent > * {
}

.elorn-tabcontent > .elorn-selected {
}

.elorn-droppable {
	border: 1px dashed #AAA;
}

.elorn-controlbar {
}

.elorn-popup > .popupContent {
}

.elorn-dialog {
}

.elorn-dialog-resize {
}

.elorn-dialog > header {
}

.elorn-dialog > header > h1 {
}

.elorn-dialog > header > p {
}

.elorn-dialog > section {
}
.elorn-dialog > section > * {
}

.elorn-dialog > footer {
}
.elorn-dialog > footer > * {
}


.elorn-field {
}

.elorn-field > * {
}

.elorn-field > .elorn-controlbar {
}
.elorn-field > .elorn-controlbar > * {
}

.elorn-field > label {
}

.elorn-field > .elorn-field-content {
}
.elorn-field > .elorn-group {
}
.elorn-field > .elorn-group > * > * {
}


button {
}

button:hover {
}

button:focus {
	outline: none;
}

button > img {
	vertical-align: middle;
}

input[type="checkbox"] {
	color: #5C5C5C;
}

input[type="text"], textarea {
	
}

.elorn-canvas {
	
}

.elorn-canvas > canvas {
}

.elorn-canvas > .elorn-controlbar {
}

.elorn-canvas > .elorn-controlbar > * {
}


.elorn-slider {
}

.elorn-slider-bar {
}

.elorn-slider-cursor {
}


