<div class="personContainer
	<%- availability ? 'available' : 'unavailable' %>"
	data-login="<%- name %>">
	<div class="personThumbnailContainer">
		<img class="personThumbnail" src="<%= picture %>">
        <img class="personThumbnailTrash" src="<%= trashIcon %>">
	</div>
	<div class="personInfoContainer">
		<p class="personFullName"><%- firstname + ' ' + lastname %></p>
		<p class="personEmployment"><%- company.employmenttype %></p>

		<p class="personAddress"><%- address != 'Unknown' ? address : '' %></p>
		<p class="personPhone"><%- phone != 'Unknown' ? phone : '' %></p>
	</div>
</div>
