.tde-chart {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.tde-graph-nav-view-notify {
	height: auto;
}
.tde-graph-nav-view-notify .alert-message {
    position: static;
    margin-bottom: 0;
}
.tde-graph-nav-view .unit {
    font-size: 0.8em;
    text-align: right;
    margin: -14px 6px 0 0;
}

.tde-detail-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% - 90px);
    width: 100%;
}

.tde-detail-stacked-container {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.tde-master-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
}

.tde-master-chart {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.tde-group:hover > .tde-button {
    cursor: ew-resize;
    stroke: #000000
}

.tde-group:hover > .tde-grip {
    stroke: #000000
}

.tde-extent-container {
	position: absolute;
    top: 50px;
    left: 80px;
    width: 100%;
    height: 24px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align_items: center;
    padding: 0px;
    margin: auto;
    border: none;
}

.tde-extent-input {
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    width: 80px;
    height: 20px;
    z-index: 20;
    border-color: #E8E8E8;
    border-width: 1px;
    border-style: solid;
    font-size: 11px;
    overflow-x: hidden;
    vertical-align: middle;
	input[type=number]::-webkit-inner-spin-button; 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}

.tde-extent-input:hover {
	background-color: #FFFFDC;
    border-color: #C0C0C0;
}


.tde-extent-label {
	position: relative;
	font-weight: normal;
	height: 10px;
    z-index: 20;
	color: black;
}

/* this sucks */
hr {
	margin-top: 2px !important;
    margin-bottom: 2px !important;
    border-top: 1px solid #ccd6eb !important;
}

.tde-sep-class {
	margin-top: 2px;
    margin-bottom: 3px;
    border-top: 1px solid #ff0000;
}

.highcharts-menu-item {
  background-color: yellow;
}











