<div class="mapNavigatorTop">
  <div class="navigateN navigationArrow">
  </div>
</div>
<div class="mapNavigatorCenter">
  <div class="navigateW navigationArrow">
  </div>
  <div class="navigateM">
    <div class="mapIndicator">
        <div class="mapIndicatorRow1">
            <div class="mapIndicatorElement X0Y0"></div>
            <div class="mapIndicatorElement X1Y0"></div>
            <div class="mapIndicatorElement X2Y0"></div>
        </div>
        <div class="mapIndicatorRow2">
            <div class="mapIndicatorElement X0Y1"></div>
            <div class="mapIndicatorElement X1Y1"></div>
            <div class="mapIndicatorElement X2Y1"></div>
        </div>
        <div class="mapIndicatorRow3">
            <div class="mapIndicatorElement X0Y2"></div>
            <div class="mapIndicatorElement X1Y2"></div>
            <div class="mapIndicatorElement X2Y2"></div>
        </div>
    </div>
  </div>
  <div class="navigateE navigationArrow">
  </div>
</div>
<div class="mapNavigatorBottom">
  <div class="navigateS navigationArrow">
  </div>
</div>
