
<% if (sideBarSide == 'left') { %>

<div class="sideBarButton calendar">
  <div class="sideBarCalendar">
    <div class="sideBarCalendarDay">
      <%=sideBarCalendarDay%>
    </div>
    <div class="sideBarCalendarMonth">
      <%=sideBarCalendarMonth%>
    </div>
  </div>
  <div class="sideBarChrono">
      <div class="sideBarChronoMin" >
      </div>
      <div class="sideBarChronoSec">
      </div>
  </div>
</div>

<% } else { %>

  <div class="sideBarButton time">
    <div class="sideBarTime">
      <div class="sideBarCalendarHour" >
        <%=sideBarCalendarHour%>
      </div>
      <div class="sideBarCalendarMinute">
        <%=sideBarCalendarMinute%>
      </div>
    </div>
    <div class="sideBarChrono">
        <div class="sideBarChronoMin" >
        </div>
        <div class="sideBarChronoSec">
        </div>
    </div>
  </div>

<% } %>
<div class="sideBarButton toolsMenu">
  <div class="toolsButton"></div>
  <span class="sidebarLabel" id="toolsButtonLabel"><%=toolsButtonLabel%></span>
</div>
<div class="sideBarButton meeting">
  <div class="meetingButton"></div>
  <span class="sidebarMeetingNbUser" style="display: none;"></span>
  <span class="sidebarLabel" id="meetingButtonLabel"><%=meetingButtonLabel%></span>
</div>
<div class="sideBarButton customizeMenu">
  <div class="customizeButton"></div>
  <span class="sidebarLabel" id="customizeButtonLabel"><%=customizeButtonLabel%></span>
</div>
<div class="sideBarButton deleteMenu">
  <div class="deleteButton"></div>
  <span class="sidebarDeleteSelectedNb"></span>
  <span class="sidebarLabel" id="deleteButtonLabel"><%=deleteButtonLabel%></span>
  <span class="sidebarLabel" id="deleteValidateButtonLabel" style="display: none;"><%=deleteValidateButtonLabel%></span>
</div>
<div class="sideBarButton">
  <div class="mapButton"></div>
  <div class="endMeetingButtonView"></div>
</div>
