<link rel="import" href="../../SMAProcSP/sp-search/sp-search.html">
<dom-module id="ra-input-dropbox">
	<template>
		<link rel="stylesheet" href="ra-input-dropbox.css"/>
		<div id="uploadContainer" class="uploadContainer" on-dragover="onInputFileDragOver" on-dragleave="onInputFileDragLeave"  on-drop="onInputFileDrop">
           	<div class="row">
           		<div class="col-sm-12">
               		<div id="inputDataset" class="inputDataset">
               			<p>[[raTitle.title]]</p>
               		   <div class="row">
	                        <div class="col-xs-4" on-click="onLocalFileClick"><i class= "upload-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-upload" ></i></span></div>
	                        <div class="col-xs-4" ><i class= "dnd-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-drag-drop" ></i></div>
	                        <div class="col-xs-4" on-click="onSearch"><i class= "upload-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-search" ></i></div>
	                    </div>
	                    <div class="row">
	                        <div class="link col-xs-4" on-click="onLocalFileClick">[[raTitle.upload]]</div>
	                        <div class=".dnd-icon col-xs-4">[[raTitle.dragdrop]]</div>
	                        <div class="link col-xs-4" on-click="onSearch">[[raTitle.search]]</div>
	                    </div>
               		</div>
               		<div id="inputReqDec" class="inputReqDec input-hidden">
               			<p>[[raTitle.title]]</p>
                       <div class="row">
                            <div class="col-xs-6" ><i class= "dnd-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-drag-drop" ></i></div>
                            <div class="col-xs-6" on-click="onSearch"><i class= "upload-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-search" ></i></div>
                        </div>
                        <div class="row">
                            <div class=".dnd-icon col-xs-6">[[raTitle.dragdrop]]</div>
                            <div class="link col-xs-6" on-click="onSearch">[[raTitle.search]]</div>
                        </div>
                    </div>
                    <div id="dropZoneFullScreen" class="dropZoneFullScreen input-hidden">
                   	 	<div id="fullDropZone" class="fullDropZone">
                	 		<p class="dropTitle">[[raTitle.title]]</p>
                	 		<div id="uploadIcon" class="input-hidden"><p on-click="onLocalFileClick"><span class="upload-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-upload"></span><br><span class="ra-dropzone-text">[[raTitle.upload]]</span></p><p class="type-separator">or</p></div>
                 			<p><span class="dnd-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-drag-drop"></span><br><span class="ra-dropzone-text">[[raTitle.dragdrop]]</span></p><p class="type-separator">or</p>
                 			<p on-click="onSearch"><span class="upload-icon wux-ui-3ds wux-ui-3ds-2x wux-ui-3ds-search"></span><br><span class="ra-dropzone-text">[[raTitle.search]]</span></p>
                    	</div>
                    </div>
               		<form id="localFileForm">
   						<input id="localFileChooser" name="localFileChooser" type="file" on-change="onLocalFileSelect" style="display:none" accept="{{fileTypes}}"  multiple>
        				<input id="localFileVersionChooser" name="localFileVersionChooser" type="file" on-change="onLocalFileVersionSelect" style="display:none">
 					</form>
             	</div>
            </div>
   		</div>
	</template>
	<script type="text/javascript" src="ra-input-dropbox.js"></script>
</dom-module>
