.meetingLeangetView
{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: right 0.75s ease, top 0.75s ease;
}
.meetingLeangetView.meetingLeangetHidden .floatableCollectionView,
.meetingLeangetView.meetingLeangetHidden .infraTemplate
{
    display: none !important;
}
.meetingLeangetView.previous
{
    right: -110%;
    top: 10%;
}
.meetingLeangetView.next
{
    right: 110%;
    top: 10%;
}
.meetingLeangetView.focus
{
    right: 0%;
    top: 0%;
}
.meetingLeangetView .infraView,
.meetingLeangetView .infraView.maximize
{
    top: 3% !important;
    left: 0% !important;
    width: 100% !important;
    height: 95% !important;
}
.meetingLeangetView .infraView .infraClose
{
    visibility: hidden;
}
