<div class="mainLoadingSpacer"/>
<div class="loaderSpinnerContent">
    <div class="loaderSpinner"></div>
</div>
<div class="mainLoadingTitle"><b>3D</b>Lean</div>
<div class="mainLoadingText loading"></div>
<div class="mainLoadingButtons">
  <div class="mainLoadingReloadContainer">
      <div class="mainLoadingButton">
      <img src="<%- iconPath %>/Reload.svg" />
      </div>
      <p class="mainLoadingButtonText"></p>
  </div>
  <div class="mainLoadingReportContainer">
      <div class="mainLoadingButton">
      <img src="<%- iconPath %>/Download.svg" />
      </div>
      <p class="mainLoadingButtonText"></p>
  </div>
</div>
<div class="mainLoadingSpacer"/>
<div>
    <p class="mainLoadingVersion"><%- version %></p>
</div>
