.editPropertiesView
{
    width: 100%;
    height: 100%;
    position: relative;
}
.editPropertiesView .editTaskPropertiesContainer
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editTaskPropertiesContainer *
{
    box-sizing: border-box !important;
}
.editPropertiesView .editTaskPropertiesContainer .tabMainContainer,
.editPropertiesView .editTaskPropertiesContainer .facets-section
{
    display: none;
}

.editPropertiesView .propertiesNoEditAlert {
    position: absolute;
    right: 1em;
    z-index: 2;
    color: #b4b6ba;
    top: 0;
}

.editPropertiesView p.propertiesError,
.editPropertiesView p.propertiesNoTaskAlert {
    font-size: 1.5em !important;
    color: #ffffff;
    text-shadow: rgba(0,0,0,.3) -1px -1px;
}

.editPropertiesView .propertiesAlert {
    display: none;
}

.editPropertiesView .propertiesAlert.show {
    display: block;
}

.editPropertiesView .editTaskPropertiesContainer .editTaskProperties
{
    border-radius: 0 0 1em 0;
}
.editTaskPropertiesContainer *
{
    font-size: 0.75vw !important;
    line-height: 1.5vw !important;
}
.editTaskPropertiesContainer .medium .formLabel
{
    width: 15em !important;
}
.editTaskPropertiesContainer .formSections:NOT(.small) .flexLine .formLabel
{
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}
.editTaskPropertiesContainer .formSections:NOT(.small) .flexLine .formValue
{
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}
.editTaskPropertiesContainer .form-control {
    padding: 0.5em 1em !important;
    height: 100% !important;
    border: 0.1em solid #d1d4d4 !important;
    border-radius: 0.2em !important;
    box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.075) !important;
    font-size: 0.75vw !important;
}
.editTaskPropertiesContainer .SW_upperContainer .AR_SearchButton
{
    width: 2.5em !important;
}
.editTaskPropertiesContainer .btn
{
    font-size: 1.2em !important;
    padding: 0em 0em 0em 0.5em !important;
    border-radius: 0.2em !important;
    height: 100% !important;
}
.editTaskPropertiesContainer .scroller-scrollbar.scroller-scrollbar-y
{
    display: none !important;
}
.editTaskPropertiesContainer .EditProp_MasterContain
{
    padding: 1em !important;
}
.editTaskPropertiesContainer .idCardContainer .attributes
{
    padding-top: 0.5em  !important;
}
.editTaskPropertiesContainer .idCardContainer .thumbnail
{
    height: 6em  !important;
    width: 10em  !important;
}
.datepicker-calendar
{
    width: 20em !important;
    margin: 0.5em !important;
}
