.editStickyContainer
{
    height: 85%;
    margin-top: -10%;
}
.editStickyNoteFloatableView
{
    position: absolute;
    width: 21.8em;
    height: auto;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding: 10% 20% 10% 20%;
    background-color: #627a8f;
    z-index: 6;
    border-radius: 0.5em;
    box-shadow: 0 0 0.4em rgba(0,0,0,.3);
    opacity: 1;
    transition: opacity 0.2s ease-out;
}
.editStickyNoteFloatableView.onEditStickyClose
{
    pointer-events: none;
    opacity: 0;
}
.editStickyNoteFloatableView.onEditStickyOpen
{
    opacity: 0;
}
.editStickyNoteFloatableView .buttonView.close
{
    margin-left: 15%;
}
