.editIssueDataView
{
    display: flex;
    flex-direction: column;
    width: calc(100% - 1em);
    height: 100%;
    color: whitesmoke;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.editIssueDataSelf
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.editIssueDataSelfTitle
{
    flex-grow: 1;
    display: flex;
}
.editIssueDataSelfTitle input.title 
{
    padding: .2em 0em;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: lightgray;
    transition: border-color 0.3s, color 0.3s;
    outline: none;
    color: whitesmoke;
    background: none;
    flex-grow: 1;
}
.editIssueDataSelfTitle input.title::placeholder 
{
    color: lightgray;
}
.editIssueDataSelfTitle input.title:focus 
{
    border-color: whitesmoke;
}
.editIssueDataSelfDate
{
    flex-grow: 1;
    margin-top: 1em;
    margin-right: 0px;
    margin-bottom: 2em;
    margin-left: 0px;
}
.editIssueDataSelfThumbnailContainer
{
    flex-grow: 4;
}
.editIssueDataActionsContainer > p 
{
    text-transform: uppercase;
    padding: 1em 0;
}
.editIssueDataActions
{
    overflow: hidden;
}
.editIssueDataContentsContainer
{
    flex-grow: 1;
}
.editIssueDataContentsContainer > p {
    text-transform: uppercase;
    padding: 1em 0;
}
