.editStickySketchDrawArea
{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
}
.editStickyNoteView #editStickySketchDeleteButton {
    width: auto;
    margin-bottom: 1em;
}
.editStickyNoteView .deleteFloatableElement .buttonIcon {
    height: 3em;
    width: 3em;
    padding: 0;
    float: right;
}
.editStickyNoteView .deleteFloatableElement .buttonTitle {
    float: left;
    line-height: 2.7em;
    background-color: transparent;
    color: white;
    padding-right: .5em;
    font-weight: 100;
}
.editStickySketchDrawAreaContainer
{
  width: 100%;
  height: 100%;
  background: #627a8f !important;
  position: relative;
}
#insertKeyboardTextForStickyNoteID {

    width: 85%;
    left: 7.5%;
    resize: none;
    border: none;
    top: 5%;
    position: absolute;
    height: 90%;
    line-height: 1.5em;
    box-sizing: border-box !important;
    background: transparent;
    font-family: '3ds', sans-serif;
    font-size: 1.9vw;
    text-align: center;
    overflow: hidden;
    outline: none;
    z-index: 7;
    padding: 0px;
}

.editStickyViewMaxViewWrapper .stickyNoteDescription
{
    font-size: 1.3vw;
}
.editStickyViewMaxViewWrapper .actionThumbnailCollectionView .actionNoteViewContent .stickyNoteDescription
{
    font-size: 0.5vw;
}
.editStickyViewMaxRightContent #insertKeyboardTextForStickyNoteID {
    /* for edit issue */
    font-size: 2.5vw;
}
.editStickyContainer #insertKeyboardTextForStickyNoteID {
    /* for normal edit */
    font-size: 1.67vw;
}
.sideView.sidePanelOpened + .mainContent .editStickyViewMaxRightContent #insertKeyboardTextForStickyNoteID {
    /* for edit issue when side panel is opened */
    font-size: 2.45vw;
}
.editStickyNoteView.showCanvas #insertKeyboardTextForStickyNoteID {
    pointer-events: none;
}
.editStickyNoteView.showKeyboard #insertKeyboardTextForStickyNoteID {
    pointer-events: all;
}
#editStickySketchKeyboardButton .buttonIconImage  {
    height: 70%;
}
.editStickySketchButtons
{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.editStickySketchButtons.alignCenter
{
 align-items: center;
}
.editStickySketchButton
{
  width: 15%;
}
.editStickySketchSeparator
{
    background-color: #ffffff;
    width: 0.1em;
    margin: 2% .5em;
}
.editStickySketchSpacer
{
    flex-grow: 1;
}
.editStickySketchButtons .buttonView
{
  width: 100%;
  height: 100%;
}
.editStickySketchButtons .buttonIcon
{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.editStickySketchButtons .buttonView.clear .buttonIconImage
{
  height: 70%;
}
.editStickySketchButtons .buttonView.clear.tapFeedBack .buttonIconImage,
.editStickySketchButtons .buttonView.picture.tapFeedBack .buttonIconImage
{
    opacity: 0.4;
}
.stickyNoteYellow {
  background-color: #F8F7B6;
}
.stickyNoteWhite {
  background-color: #F5F5F5;
}
.stickyNotePurple {
  background-color: #D4CDF3;
}
.stickyNotePink {
  background-color: #F1C3F1;
}
.stickyNoteGreen {
  background-color: #C5F7C1;
}
.stickyNoteBlue {
  background-color: #C9ECF8;
}
.editStickyColorButtons
{
  justify-content: space-between;
}
.editStickyColorButtonsHidden
{
  display: none;
}
.editStickyColorButtons > .buttonView
{
  border-color: transparent;
  border-style: solid;
}
.editStickySketchDrawArea
{
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.onCreateSticky .editStickySketchDrawArea
{
  opacity: 0;
}
.editStickyColorButtons .buttonIconImage
{
    height: 60%;
}
.editStickyNoteView
{
    pointer-events: all;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    z-index: 6;
}
.noteNotEditable canvas
{
    pointer-events: none;
}
.noteNotEditable #editStickySketchPenButton,
.noteNotEditable #editStickySketchKeyboardButton,
.noteNotEditable #editStickySketchEraserButton,
.noteNotEditable #editStickySketchClearButton,
.noteNotEditable #editStickySketchImageButton,
.noteNotEditable #editStickySketchValidateButton
{
    pointer-events: none;
    opacity: 0.5;
}
.noteNotDeletable #editStickySketchDeleteButton
{
    pointer-events: none;
    opacity: 0.5;
}

/* Hide the validate button outside isse edit */
#editStickySketchValidateButton
{
    display: none;
}
.editActionView #editStickySketchValidateButton,
.editIssueView #editStickySketchValidateButton
{
    display: block;
}
.editStickyNoteFloatableView   #insertKeyboardTextForStickyNoteID
{
    font-size: 1.84vw;
}
.editStickySketchDrawArea #insertKeyboardTextForStickyNoteID
{
    z-index: 5;
}

.editStickyNoteView .editStickySketchButtons .buttonView.undo,
.editStickyNoteView .editStickySketchButtons .buttonView.redo {
    transition: opacity .1s ease-in-out;
}

.editStickyNoteView .editStickySketchButtons .buttonView.undo.disabled,
.editStickyNoteView .editStickySketchButtons .buttonView.redo.disabled {
    opacity: 0.5;
}

.editStickyNoteView .editStickySketchButtons .buttonView.undo.tapFeedBack,
.editStickyNoteView .editStickySketchButtons .buttonView.redo.tapFeedBack {
    opacity: 0.5;
}


/* PIR2 BETA ALPHA OMEGA CODE */
.editStickyColorButtonDetails
{
  width: 100%;
  padding-bottom: 14%;
  position: relative;
  margin-top: 5%;
  display: none;
}
.selectedColorNameArrow
{
  width: 6%;
  height: 40%;
  position: absolute;
  top: -15%;
  left: 4.5%;
  pointer-events: none;
  transform: rotate(45deg);
  transition: left .3s ease-out;
}
.selectedColorNameContainer
{
  width: 100%;
  height: 70%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedColorName
{
  font-size: 1.15em;
  color: #465e73;
  line-height: 1.15em;
}
/* PIR2 BETA ALPHA OMEGA CODE */
