.editIssueView .modalLeanget
{
    position: absolute;
    top: -2em;
    left: 0;
    width: 100%;
    height: calc(100% + 2em);
    z-index: 11;
    visibility: visible;
    pointer-events: all;
}
.editStickySketchDrawAreaContainer
{
    transition: opacity 0.2s ease-out;
    opacity: 1;
}
.editStickySketchDrawAreaContainer.onActionDelete
{
    opacity: 0;
}
