.editStickyViewMaxViewWrapper
{
    position: absolute;
    height: 90%;
    width: 84%;
    top: 3%;
    left: 8%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    visibility: visible;
    box-shadow: 0 0 1em rgba(0,0,0,0.7);
    z-index: 11;
    pointer-events: all;
    border-radius: 1em;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    font-size: 0.75vw;
}
.pageView .infraView .editStickyViewMaxViewWrapper
{
    height: 94%;
    width: 88%;
    top: 2%;
    left: 6%;
}
.editStickyViewMax .modalLeanget
{
    position: absolute;
    top: -2em;
    left: 0;
    width: 100%;
    height: calc(100% + 2em);
    z-index: 11;
    visibility: visible;
    pointer-events: all;
}
.editStickyViewMaxHeader
{
    display: flex;
    justify-content: center;
    height: 10%;
    position: relative;
    border-bottom: 1px solid #788ea1;
}
.editStickyViewMaxHeader .editStickyViewMaxClose
{
    position: absolute;
    top: 0;
    right: 1em;
    height: 100%;
    width: 2em;
    box-sizing: border-box !important;
    padding: 1em 0;
}
.editStickyViewMaxHeader .editStickyViewMaxClose .buttonView
{
    width: 100%;
}
.editStickyViewMaxHeader .buttonView
{
    width: auto;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    border-bottom: .3em inset transparent;
    box-sizing: border-box !important;
}
.editStickyViewMaxHeader .buttonView.checked
{
    border-bottom: .3em inset #239de8;
    box-sizing: border-box !important;
}
.editStickyViewMaxHeader .buttonView.checked .buttonTitle
{
    color: black;
}
.editStickyViewMaxHeader .buttonTitle
{
    bottom: 0;
    color: gray;
}
.editStickyViewMaxContent
{
    display: flex;
    width: 100%;
    height: 100%;
}
.editStickyViewMaxLeftContent
{
    width: 33%;
    background-color: #788ea1;
    box-sizing: border-box !important;
    padding: 1em 1em;
    border-bottom-left-radius: 1em;
    height: 100%;
}
.editStickyViewMaxRightContent
{
    width: 67%;
    background-color: #627A8F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom-right-radius: 1em;
    height: 100%;
}
.editStickyViewMaxViewWrapper.onEditStickyViewMaxClose
{
    pointer-events: none;
    opacity: 0;
}
.editStickyViewMaxViewWrapper.onEditStickyViewMaxOpen
{
    opacity: 0;
}
.editIssueDataContentsContainer
{
    visibility: hidden;
}

.editStickyViewMaxRightContent .editStickyNoteView {
    position: relative;
    width: 26em;
    height: auto;
}

.editStickyViewMaxRightContent .editStickyNoteView .editStickySketchDrawAreaContainer {
    background: transparent !important;
     box-shadow: 0 0 0.4em rgba(0,0,0,.3);
}
.editStickySketchDrawAreaContainer
{
    transition: opacity 0.2s ease-out;
    opacity: 1;
}
.editStickySketchDrawAreaContainer.onActionDelete
{
    opacity: 0;
}
.editStickyViewMaxRightContent .editStickyNoteView .editStickySketchButtons,
.editStickyViewMaxRightContent .editStickyNoteView .editStickySketchButtons
{
    background: transparent;
}
.editStickyViewMaxTab
{
    display: flex;
}
.editStickyViewMaxTab .buttonView
{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
