
.show {
  display: block !important; }

.rgn-dropdown {
    position: relative;
    display: inline-block;
}

.rgn-dropdown-display {
    width: auto;
}

.rgn-dropdown-display input {
    width: 191px;
    margin: 0px;
    color: #5b5d5e;
    background-color: #FFFFFF;
    border-style: none;
    border-top: 1px solid #b4b6ba;
    border-left: 1px solid #b4b6ba;
    border-bottom: 1px solid #b4b6ba;
    padding-bottom: 6px;
    border-radius: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    vertical-align: top;
    height: 27px;
}

.rgn-dropdown-display-img {
    color: #5b5d5e;
    background-color: #f9f9f9;
    border: 1px solid #b4b6ba;
    padding: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rgn-dropdown-reset {
    display: inline-block;
    margin: 0 auto;
    height: 27px;
    border-left: none;
}

.rgn-dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 260px;
    max-width: 500px;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
    max-height: 200px;
}

.rgn-dropdown-content .show {
    display: block;
}

.rgn-dropdown-content ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.rgn-dropdown-content li {
    padding: 2px;
    border-top: 1px solid #cccccc;
}

.rgn-dropdown-content li:hover {
    background-color: #368ec4;
    cursor: pointer;
    color: #FFFFFF;
}

.rgn-dropdown-content li.selected {
    background-color: #368ec4;
    color: #FFFFFF;
}

/* OTScript Preferences */
.ots-toolbar {
    margin: 4px;
    border-right: 1px solid #C3C3C3;
    padding-right: 4px;
    display: inline-block;
}

.ots-right {
    border: unset;
    float: right;
}

.ots-toolbar input[type="image"] {
    border: 1px solid transparent;
    background-color: transparent;
}

.ots-toolbar input[type="image"]:disabled {
    opacity: 0.4;
}

.ots-toolbar input[type="image"]:hover:enabled {
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
}

.ots-main-layout {
    display: inline-flex;
    width: 100%;
    height: 90%;
    min-height: 200px;
}

.ots-code-layout {
    min-width: 300px;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.ots-file-layout {
    min-width: 200px;
    background-color: #EEEEEE;
    width: fit-content;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 100%;
    min-height: 200px;
}

.ots-file-layout li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #EEEEEE;
}

.ots-file-layout li:hover {
    padding: 5px;
    border-bottom: 1px solid #EEEEEE;
    background-color: #368ec4;
}

.ots-file-layout  li.selected {
    background-color: #368ec4;
    color: #FFFFFF;
}

.ots-file-layout  li.deleted {
    text-decoration: line-through;
}

.ots-file-layout  li.edited {
    font-weight: 700;
}

.ots-file-layout  li.edited input{
    font-weight: normal;
}


.ots-hidden {
    display: none;
}

.ots-ctx-img {
    float: right;
    width: 18px;
}

.ots-ok {
    color: #009900;
}

.ots-nok {
    color: #FF0000;
}

.ots-highlight-error {
    text-decoration: underline dotted red;
}

#otsForm form {
    height: unset;
}

#errorDisplay {
    height: 20%
}
