<div class="flexrow dsfont" id="dataset-details-top-container">
	<div class="datasets-details-row" id="dataset-details-title">
		<div class="datasets-details-label">{{raTranslate "TITLE"}}</div>
		<div class="datasets-details-value" title="{{raSanitize title}}">{{raSanitize title}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-name">
		<div class="datasets-details-label">{{raTranslate "NAME"}}</div>
		<div class="datasets-details-value" title="{{raSanitize parametername}}">{{raSanitize parametername}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-type">
		<div class="datasets-details-label">{{raTranslate "TYPE"}}</div>
		<div class="datasets-details-value" title="{{raSanitize displayType}}">{{raSanitize displayType}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-desc">
		<div class="datasets-details-label dataset-details-desc">{{raTranslate "DESCRIPTION"}}</div>
		<div class="datasets-details-value dataset-details-desc">{{raSanitize description}}</div>
	</div>	
	<div class="datasets-details-row" id="dataset-details-unit">
		<div class="datasets-details-label">{{raTranslate "UNIT"}}</div>
		<div class="datasets-details-value" title="{{raSanitize unit}}">{{raSanitize unit}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-obj">
		<div class="datasets-details-label">{{raTranslate "OBJECTIVE"}}</div>
		<div class="datasets-details-value" title="{{raSanitize objective}}">{{raSanitize objective}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-val">
		<div class="datasets-details-label">{{raTranslate "VALUE"}}</div>
		<div class="datasets-details-value" title="{{raSanitize parameterValue}}">{{raSanitize parameterValue}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-max">
		<div class="datasets-details-label">{{raTranslate "MAX"}}</div>
		<div class="datasets-details-value" title="{{raSanitize maximum}}">{{raSanitize maximum}}</div>
	</div>
	<div class="datasets-details-row" id="dataset-details-min">
		<div class="datasets-details-label">{{raTranslate "MIN"}}</div>
		<div class="datasets-details-value" title="{{raSanitize minimum}}">{{raSanitize minimum}}</div>
	</div>
</div>
