/*Start: DocumentMgmtUI*/
$COLOR_DARK_GRAY  : #3D3D3D;

#DocumentMgmtUI-Dialog{
	.wux-windows-window-content{
    box-sizing: border-box;
	}
	.dialogBody {
		position: relative;
		height: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		.filesFormDiv{
			height: 200px;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.documentDlgErrorDiv{
			text-align: center;
			vertical-align: middle;
			color: $COLOR_DARK_GRAY;
			word-wrap: break-word;
			padding: 4%;
			margin-top: 20%;
			margin-bottom: 30%;
		  font-weight: bold;
		}
	}

	.wux-controls-editor {
		height: 100%;
		width: 100%;
		textarea {
			height: 100%;
			width: 100%;
		}
	}

	.wux-layouts-treeview-icon {
		margin-right: 0px;
		margin-left: 10px;
	}
	.wux-datagrid-cell {
		text-align: left;
	}

}
/*End: DocumentMgmtUI*/
