<div class="settings_SettingsContainer">
    <label for="title"><%- getNLS('V_DEL3DL_Title.label') %>: </label>
    <input class="title" id="title" type="text" placeholder="<%- getNLS(get('type')) %>" <% if (get('V_DEL3DL_Title')) { %>value="<%- get('V_DEL3DL_Title') %>"<% } %>></input>
    <br/>
    <!-- <div class="hiddenSettings">

        <input  id="V_DEL3DL_AL_TodayTitle" type="text"  value="<%- get('V_DEL3DL_AL_TodayTitle') %>"></input>
        <input  id="V_DEL3DL_AL_TomorrowTitle" type="text"  value="<%- get('V_DEL3DL_AL_TomorrowTitle') %>"></input>
        <input  id="V_DEL3DL_AL_WeekTitle" type="text"  value="<%- get('V_DEL3DL_AL_WeekTitle') %>"></input>
        <input  id="V_DEL3DL_AL_NextTitle" type="text"  value="<%- get('V_DEL3DL_AL_NextTitle') %>"></input>
        <input  id="V_DEL3DL_AL_ParkingTitle" type="text"  value="<%- get('V_DEL3DL_AL_ParkingTitle') %>"></input>
        <input  id="V_DEL3DL_AL_DoneTitle" type="text"  value="<%- get('V_DEL3DL_AL_DoneTitle') %>"></input>

        <input  id="V_DEL3DL_AL_TodayTop" type="text"  value="<%- get('V_DEL3DL_AL_TodayTop') %>"></input>
        <input  id="V_DEL3DL_AL_TodayLeft" type="text"  value="<%- get('V_DEL3DL_AL_TodayLeft') %>"></input>
        <input  id="V_DEL3DL_AL_TodayWidth" type="text"  value="<%- get('V_DEL3DL_AL_TodayWidth') %>"></input>
        <input  id="V_DEL3DL_AL_TodayHeight" type="text"  value="<%- get('V_DEL3DL_AL_TodayHeight') %>"></input>

        <input  id="V_DEL3DL_AL_TomorrowTop" type="text"  value="<%- get('V_DEL3DL_AL_TomorrowTop') %>"></input>
        <input  id="V_DEL3DL_AL_TomorrowLeft" type="text"  value="<%- get('V_DEL3DL_AL_TomorrowLeft') %>"></input>
        <input  id="V_DEL3DL_AL_TomorrowWidth" type="text"  value="<%- get('V_DEL3DL_AL_TomorrowWidth') %>"></input>
        <input  id="V_DEL3DL_AL_TomorrowHeight" type="text"  value="<%- get('V_DEL3DL_AL_TomorrowHeight') %>"></input>

        <input  id="V_DEL3DL_AL_WeekTop" type="text"  value="<%- get('V_DEL3DL_AL_WeekTop') %>"></input>
        <input  id="V_DEL3DL_AL_WeekLeft" type="text"  value="<%- get('V_DEL3DL_AL_WeekLeft') %>"></input>
        <input  id="V_DEL3DL_AL_WeekWidth" type="text"  value="<%- get('V_DEL3DL_AL_WeekWidth') %>"></input>
        <input  id="V_DEL3DL_AL_WeekHeight" type="text"  value="<%- get('V_DEL3DL_AL_WeekHeight') %>"></input>

        <input  id="V_DEL3DL_AL_NextTop" type="text"  value="<%- get('V_DEL3DL_AL_NextTop') %>"></input>
        <input  id="V_DEL3DL_AL_NextLeft" type="text"  value="<%- get('V_DEL3DL_AL_NextLeft') %>"></input>
        <input  id="V_DEL3DL_AL_NextWidth" type="text"  value="<%- get('V_DEL3DL_AL_NextWidth') %>"></input>
        <input  id="V_DEL3DL_AL_NextHeight" type="text"  value="<%- get('V_DEL3DL_AL_NextHeight') %>"></input>

        <input  id="V_DEL3DL_AL_ParkingTop" type="text"  value="<%- get('V_DEL3DL_AL_ParkingTop') %>"></input>
        <input  id="V_DEL3DL_AL_ParkingLeft" type="text"  value="<%- get('V_DEL3DL_AL_ParkingLeft') %>"></input>
        <input  id="V_DEL3DL_AL_ParkingWidth" type="text"  value="<%- get('V_DEL3DL_AL_ParkingWidth') %>"></input>
        <input  id="V_DEL3DL_AL_ParkingHeight" type="text"  value="<%- get('V_DEL3DL_AL_ParkingHeight') %>"></input>

        <input  id="V_DEL3DL_AL_DoneTop" type="text"  value="<%- get('V_DEL3DL_AL_DoneTop') %>"></input>
        <input  id="V_DEL3DL_AL_DoneLeft" type="text"  value="<%- get('V_DEL3DL_AL_DoneLeft') %>"></input>
        <input  id="V_DEL3DL_AL_DoneWidth" type="text"  value="<%- get('V_DEL3DL_AL_DoneWidth') %>"></input>
        <input  id="V_DEL3DL_AL_DoneHeight" type="text"  value="<%- get('V_DEL3DL_AL_DoneHeight') %>"></input>

    </div> -->
</div>
