<div class="deleteLeangetConfirmation">
    <%- getNLS('Confirmation_Message') %>
</div>
<div class="deleteLeanget">
</div>
<input class="sizeViewTitleContainer" placeholder="<%- leangetTitle %>">
</input>
<div class="size_SizeSelectorContainer">
    <div class="size_SquareSizeSelector size1LeangetButton"></div>
    <div class="size_SquareSizeSelector size2LeangetButton"></div>
    <div class="size_SquareSizeSelector size3LeangetButton"></div>
    <div class="size_SquareSizeSelector size4LeangetButton"></div>
</div>
