<div class="settings_SettingsContainer sketchsettingsview">
    <label for="title"><%- getNLS('V_DEL3DL_Title.label') %>: </label>
    <input class="title" id="title" type="text" placeholder="<%- getNLS(get('type')) %>" <% if (get('V_DEL3DL_Title')) { %>value="<%- get('V_DEL3DL_Title') %>"<% } %>></input>
    <br/>
    <label for="url"><%- getNLS('V_DEL3DL_Background_Image_Url.label') %>: </label>
    <input class="url" id="url" type="text" placeholder="<%- getNLS('V_DEL3DL_Background_Image_Url.placeholder') %>" value="<%- get('V_DEL3DL_Background_Image_Url') %>"></input>
    <br/>
    <label for="isStretch"><%-  getNLS('V_DEL3DL_Stretch.label') %>: </label>
    <label class="checkboxContainer">
        <input class="isStretch" id="isStretch" type="checkbox" <% if (get('V_DEL3DL_Stretch') === true) { %> checked="checked" <% } %> ></input>
        <span class="checkmark"></span>
    </label>
    <br/>
    <label for="isToolbarHidden"><%-  getNLS('V_DEL3DL_ToolBarHidden.label') %>: </label>
    <label class="checkboxContainer">
        <input class="isToolbarHidden" id="isToolbarHidden" type="checkbox" <% if (get('V_DEL3DL_ToolBarHidden') === true) { %> checked="checked" <% } %> ></input>
        <span class="checkmark"></span>
    </label>
    <br/>
</div>
