<div class="settings_SettingsContainer webviewersettingsview">
    <label for="title"><%- getNLS('V_DEL3DL_Title.label') %>: </label>
    <input class="title" id="title" type="text" placeholder="<%- getNLS(get('type')) %>" <% if (get('V_DEL3DL_Title')) { %>value="<%- get('V_DEL3DL_Title') %>"<% } %>></input>
    <br/>
    <label for="url"><%- getNLS('V_DEL3DL_Url.label') %>: </label>
    <input class="url" id="url" type="text" placeholder="<%- getNLS('V_DEL3DL_Url.placeholder') %>" value="<%- get('V_DEL3DL_Url') %>"></input>
    <br/><br/>
    <label for="zoom"><%- getNLS('V_DEL3DL_Zoom.label') %>: </label>
    <div id="slidecontainer">
        <input class="zoom slider" data-key="zoom" id="zoom" type="range" min="0.1" max="2" value="<%- get('V_DEL3DL_Zoom') %>" step="0.1">
        <span class="rangeindicator"><%- get('V_DEL3DL_Zoom') %></span>
    </div>
    <br/>
</div>
