<div class='stickyNoteViewScalableContent'>
    <div class="stickyNoteViewBackground" id="stickyNoteViewBackground" style="<% if (typeof(V_DEL3DL_Background_Color) !== 'undefined') { %>;background: <%=V_DEL3DL_Background_Color%>;<% } %>">
        <div class="actionNoteViewContent" <% if (get('V_DEL3DL_Sketch_Image')) { %>style="background-image: url(<%- get('V_DEL3DL_Sketch_Image')%>);"<% } %>>
            <span class="stickyNoteDescription"><% if (get('V_DEL3DL_Description')) { %><%- get('V_DEL3DL_Description')%><% } %></span>
        </div>
        <div class="postit-header">
          <div class="postit-header-peoplePicture"></div>
          <div class="postit-header-stickerPicture"></div>
        </div>
        <div class="postit-info">
         <div class="postit-info-status">
             <div class="postit-info-status-arrow">
             </div>
         </div>
        </div>
    </div>
    <img class='taskClipContent' />
</div>
