.smawebmat_tagger
{
    background-image: url(../icons/icons.png);
    background-position : 0 -2296px;
    background-repeat : no-repeat;
    height: 28px;
    width: 28px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}

.smawebmat_taggerfilter
{
    background-image: url(../icons/icons.png);
    background-position : 0 -2168px;
    background-repeat : no-repeat;
    height: 28px;
    width: 28px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}

.smawebmat_taggeractive
{
    background-image: url(../icons/icons.png);
    background-position : 0 -2264px;
    background-repeat : no-repeat;
    height: 28px;
    width: 28px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}

.smawebmat_taggeractivefilter
{
    background-image: url(../icons/icons.png);
    background-position : 0 -2200px;
    background-repeat : no-repeat;
    height: 28px;
    width: 28px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}

.smawebmat_topbar 
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.smawebmat_filter_container *
{
    margin-bottom: 3px;
    margin-left: 3px;
    font-size:   12px;
}
.smawebmat_qfilter {
    text-align: center;
    background-image: url(../icons/I_Filter_dark22.png);
    /*background-size:  contain;*/
    background-repeat : no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 2px;
}
div.smawebmat_qfilter:hover {
    background-color: #ddd;
    border-color: #bbb;
}

div.smawebmat_apply {
    background-image: url(../icons/I_Material_Nav_core38x38.png);
    background-size:  contain;
    background-repeat : no-repeat;
    height: 38px;
    width: 38px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 2px;
}

div.smawebmat_apply:hover {
    background-image: url(../icons/I_Material_Nav_core38x38.png);
    background-size:  contain;
    background-repeat : no-repeat;
    height: 38px;
    width: 38px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px;
    border-radius: 2px;
}

div.smawebmat_apply:active {
    background-image: url(../icons/I_Material_Nav_core38x38.png);
    background-size:  contain;
    background-repeat : no-repeat;
    height: 38px;
    width: 38px;
    text-align: center;
    display: inline-block;
    background-color: #ddd;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px;
    border-radius: 2px;
}


.smawebmat_filteradd {
    background-image: url(../icons/I_Plus.png);
    background-size:  contain;
    background-repeat : no-repeat;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.smawebmat_filterremove {
    background-image: url(../icons/I_Minus.png);
    background-size:  contain;
    background-repeat : no-repeat;
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.smawebmat_filter_reset
{
    background-image: url(../icons/I_Reset2.png);
    background-size:  contain;
    float:    right;
    position: relative;
    display:  inline;
    height:   16px;
    width:    16px;
    top:      3px;
    right:    21px;
    cursor:   pointer;
}


div.smawebmat_filterpanel {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 3px;
}

table.smawebmat_filterpanel {
    width: 100%;
}

td.smawebmat_filterpanel {
    padding: 3px 3px 3px 0px;
    vertical-align: middle;
}

.smawebmat_toolbar {
    background-repeat : no-repeat;
    height: 22px;
    width: 22px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.smawebmat_skeleton {
    font-family: Arial, Helvetica, sans-serif !important;
}

.smamat_subtable_expander:hover {
    background-color: white !important;
}

.dropdown-menu .item {
    padding:     0px 10px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:   12px;
    font-weight: bold;
}

div.wux-menu-cell {
    font-size:   12px;
    font-weight: bold;
}

.smawebmat_noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.smawebmat_disabled {
    opacity: .4;
    cursor: default;
    /* don't disable pointer events--we want tooltips to still work on disabled buttons */
}

.smawebmat_export {
    background-image: url(../icons/I_Export.png);
}

.smawebmat_import {
    background-image: url(../icons/I_Import.png);
}

.smawebmat_edit {
    background-image: url(../icons/I_Edit.png);
}

.smawebmat_compare {
    background-image: url(../icons/I_Compare.png);
    text-align: center;
    /*background-size:  contain;*/
    background-repeat : no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 2px;
}

.smawebmat_compare:hover {
    background-color: #ddd;
    border-color: #bbb;
}


.smawebmat_compare_table {
    padding: 10px 10px 20px;
}

tr.smawebmat_compare_hdr {
    border-bottom: 2px solid #ddd;
    word-wrap: break-word;
    overflow: hidden;
}

th.smawebmat_compare_hdr {
    text-align: center;
    font-weight: bold;
    padding: 3px 5px;
}

div.smawebmat_compare_hdr {
    max-width: 120px;
    text-align: center;
    margin: auto;
    padding: 5px;
}

img.smawebmat_compare_hdr {
    width: 64px;
}

.smawebmat_compare_rowhdr {
    font-weight: bold;
    padding: 3px 5px;
}

.smawebmat_compare_cell {
    text-align: left;
    padding: 3px 5px;
}

tr.smawebmat_compare_cell {
    border-bottom: 1px solid #ddd;
}

.smawebmat_idcard h1 span {
    font-size: 22px !important;
}

h5.smawebmat_breadcrumb_hdr {
    text-align: left;
}

a.smawebmat_breadcrumb {
    cursor:   pointer;
}

a.smawebmat_breadcrumb:hover {
    color: #005686;
}

div.smawebmat_breadcrumb {
    padding: 3px 10px 0px;
}

hr.smawebmat_breadcrumb {
    margin: 0px;
    border: 0px;
    border-top: 1px solid #ccc;
}

.smawebmat_facet_prop {
    background-image: url(../icons/I_SMAFeaSection_Properties.png);
    background-size:  contain;
    display: inline-block;
    height: 20px;
    width:  20px;
}

.smawebmat_facet_sim {
    background-image: url(../icons/I_SMAFeaSection_Materials_20.png);
    background-size:  contain;
    display: inline-block;
    height: 20px;
    width:  20px;
}

.smawebmat_facet_render {
    background-image: url(../icons/I_MatDomain_Nav_Rendering_20.png);
    background-size:  contain;
    display: inline-block;
    height: 20px;
    width:  20px;
}

a.smawebmat_search_dropdown:before {
    content: "\00A0\25BC\00A0";
}

a.smawebmat_search_dropdown:hover {
    text-decoration:none;
    color: black !important;
}

a.smawebmat_search_dropdown
{
    font-size: 14px;
    color:    #555;
    float:    right;
    position: relative;
    display:  inline;
    height:   16px;
    width:    16px;
    bottom:   22px;
    right:    7px;
    margin-top: 2px;
    cursor:   pointer;
}

.smawebmat_search_reset
{
    background-image: url(../icons/I_Reset2.png);
    background-size:  contain;
    float:    right;
    position: relative;
    display:  inline;
    height:   16px;
    width:    16px;
    bottom:   21px;
    right:    5px;
    margin-top: 2px;
    cursor:   pointer;
}

.smawebmat_hitcount
{
    color: #808080;
}
.smawebmat_noresults {
    color:     #aaa;
    position:  relative;
    left:      25px;
    top:       25px;
    font-size: 25px;
}
.smawebmat_search_count
{
    display:    inline;
    float:      right;
    position:   relative;
    right:      10px;
    bottom:     22px;
    margin-top: 2px;
    text-align: right;
}

.smawebmat_tileitem div:hover {
    background-color: #F4F4F4;
    border-color: #ABD2E8;
}

.smawebmat_thumbitem div:hover {
    border-color: #ABD2E8;
    /* box-shadow: 0px 0px 0px 3px #abd2e8, 0px 0px 0px 1px #E2E4E3; */
}

.disable_container
{
    pointer-events: none;
    opacity: 0.4;
}
