.chooser-main {
  display: inline-block;;
  box-sizing: border-box;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  vertical-align: baseline;
  display: flex;
  padding: 6px 12px;
  width: auto;
  height: 34px;
  border: 1px solid #d1d4d4;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #3d3d3d;
  font-size: 14px;
  line-height: 1;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  justify-content: space-between;
}

.chooser-main:focus {
    outline: 0;
    border-color: #42a2da;
}


 .search-buttons {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  display: inline-block;
  min-width: 60px;
  min-height: 22px;
  height: 22px;
  width: 22px;
  line-height: 1;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  font-family: inherit;
  position: relative;
  float: right;
  right: 0px;
}

.search-button {
  right: 5px;
}
.cancel-button {
  left: 5px;
}

.operation-button:hover {
  color: #5b5d5e;
}
.operation-button {
  color: #b4b6ba;
  box-sizing: border-box;
  top: 0px;
  position: absolute;
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  display: inline-block;
  min-width: 22px;
  min-height: 22px;
  height: 22px;
  width: 22px;
  line-height: 1;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}

.chooser-placeHolder {
  color: #B2B5BA;
  cursor: pointer;
}
.chooser-placeHolder, .chooser-objectTitle {
  display: inline-block;
  padding-right: 28px;
  padding-top: 2px;
  text-rendering: auto;
  letter-spacing: normal;
  white-space: nowrap;
  word-spacing: normal;
  overflow: hidden;
}


.search-buttons[disabled], .search-buttons[readonly],
 {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 0.5; }

.drop {
    border-color: #368ec4;
    border-style: dashed;
    border-width: 2px;
    opacity: 0.8; }
