.editStickyTagButtons
{
  display: flex;
  width: 100%;
  height: 15%;
}
.editStickyTagButton
{
  width: 15px;
  height: 15px;
}
.editStickySketchDrawArea
{
  /* background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 100%;
  height: 0;
  padding-bottom: 100%; */

 /* NEW */
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 95%;
    height: 0px;
    padding-bottom: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
}
.editStickySketchDrawAreaContainer
{
  /* width: 95%;
  padding-bottom: 95%;
  height: 0;
  overflow: hidden;
  margin-left: 2.5%;
  margin-right: 2.5%; */

 /* NEW */
  width: 100%;
  padding-bottom: 100%;
  height: 0px;
  overflow: hidden;
  background: #627a8f !important;
}
.editStickySketchButtons
{
  width: 100%;
  padding-top: 15%;
  position: relative;

  /*NEW*/
  background-color: #627a8f;
}
.editStickySketchButton
{
  width: 15%;
  height: 100%;
  top: 0;
  position: absolute;
}
.editStickySketchButtons .buttonView
{
  width: 100%;
  height: 100%;
}
.editStickySketchButtons .buttonView .buttonIcon
{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#editStickySketchCloseButton
{
  left: 85%;
}
#editStickySketchPenButton
{
  left: 0%;
}
#editStickySketchEraseButton
{
  left: 15%;
}
#editStickySketchClearButton
{
  left: 85%;
}
.editStickyColorButtons
{
  display: flex;
  width: 100%;
  height: 6%;
}
.editStickyColorButtons > .buttonView
{
  border-color: transparent;
  border-style: solid;
}
.stickyNoteYellow {
  background-color: #F8F7B6;
}
.stickyNoteWhite {
  background-color: #F5F5F5;
}
.stickyNotePurple {
  background-color: #D4CDF3;
}
.stickyNotePink {
  background-color: #F1C3F1;
}
.stickyNoteGreen {
  background-color: #C5F7C1;
}
.stickyNoteBlue {
  background-color: #C9ECF8;
}
.stickyNoteImage {
  background-color: white;
}
.editStickyColorButton
{
  display: flex;
  width: 100%;
  height: 35%;
}
.editStickySketchDrawArea
{
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.onCreateSticky .editStickySketchDrawArea
{
  opacity: 0;
}
.editStickyColorButtons .buttonIconImage
{
    height: 60%;
}
.editStickyNoteView
{
    /* position: absolute;
    background-color: #627A8F;
    width: 300%;
    height: auto;
    top: 0;
    pointer-events: all;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    z-index: 6; */

    /*NEW*/
    position: absolute;
    width: 20em;
    height: 20em;
    pointer-events: all;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    z-index: 6;
}
.editStickyNoteSketch
{
    width: 100%;
    height: 100%;
    position: relative;
}
