.searchPersonPanelView
{
    background: #f1f1f1;
    width: 57%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.1em 0.1em 0.5em #77797c;
    border-radius: .5em;
}
.searchParameters
{
    background: white;
    margin: 2.5%;
    box-shadow: 0.1em 0.1em 0.5em darkgrey;
    padding: 2.5%;
    border-radius: 0.5em;
}
.searchParameters input
{
    padding: .2em 0.4em;
    border: none;
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    border-color: darkgray;
    transition: border-color 0.3s, color 0.3s;
    outline: none;
    width: 97%;
    color: #239de8;
    font-size: 0.85vw;
}
.resultsCollectionView
{
    background: #ffffff;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-shadow: 0.1em 0.1em 0.5em darkgrey;
    padding: 2.5%;
    min-height: 30em;
    border-radius: 0.5em;
}
