.tde-viewerframe {
    background: #F9F9F9 !important;
    width: 100%;
    height: 100%;
    /* margin-top: 49px; */
}

.tde-framewindow {
    position: absolute !important;
    top: 0px;
    bottom: 0px;
}

.tde-content {
    height: 100%;
}

.tde-topbar 
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tde-toolbar {
    background-repeat : no-repeat;
    height: 22px;
    width: 22px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.tde-skeleton {
    font-family: Arial, Helvetica, sans-serif !important;
}

h5.tde-breadcrumb-hdr {
	margin-left: 10px;
    text-align: left;
}

a.tde-breadcrumb {
    cursor:   pointer;
}

a.tde-breadcrumb:hover {
    color: #005686;
}

div.tde-breadcrumb {
    padding: 3px 10px 0px;
}

hr.tde-breadcrumb {
    margin: 0px;
    border: 0px;
    border-top: 1px solid #ccc;
}

.tde-breadcrumb-hdr-icon:before
{
    content: '\e042';
}

.tde-noresults {
    color:     #aaa;
    position:  relative;
    left:      25px;
    top:       25px;
    font-size: 25px;
}

.tde-tileitem div:hover {
    background-color: #F4F4F4;
    border-color: #ABD2E8;
}

.tde-thumbitem div:hover {
    border-color: #ABD2E8;
    /* box-shadow: 0px 0px 0px 3px #abd2e8, 0px 0px 0px 1px #E2E4E3; */
}

.tde-inline-container
{
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.tde-chart-container {
	width: 100%;
	height: 100%;
}

.tde-collection-view {
	/* account for tde-top-container height */
/* 	height: calc(100% - 40px)!important; */
	height: 100%;
}

.tde-top-container {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    padding-right: 5px;
    margin: 0px;
    width: 100%;
    height: 100px;
}

.tde-drop-view {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 95px;
    border: 1px dashed #d8d8d8;
    color: #77797c;
    overflow-x: hidden;
}

.tde-drop-view[dragover] {
	background-color: #d5e8f2;
    border: 2px dashed #005686;
}

.tde-container-column-centered {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tde-container-row-middle {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.tde-drop-item {
	opacity: 0.4;
}

.tde-drop-div {
	padding-right: 20px;
}

.tde-drop-note {
	opacity: 0.4;
	font-size: 16px;
}

.tde-drop-note-small {
	opacity: 0.4;
	font-size: 12px;
}

.tde-search-item {
	cursor: pointer;
    opacity: 0.8;
    color: #368ec4;
}

.tde-link {
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.8;
    color: #368ec4;
}

.tde-drag-over {
	border: dashed #368ec4 2px;
	opacity: 0.8;
}

.tde-top-view {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    max_width: 350px;
    height: 38px;
}

.tde-button-view {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 36px;
}

.tde-button {
	display: inline-flex;
	background: none;
	border: none;
	height: 36px;
	margin-right: 5px;
}
.tde-dialog {
	z-index: 1000 !important;
}

.tde-dialog-content {
	
}

.tde-flex-fixed {
	flex-grow: 0;
	padding-right: 5px;
}

.tde-flex-grow {
	flex-grow: 1;
}

.tde-info-view {
	position: absolute;
	top: 0px;
	left: 0px;
    width: calc(95% - 40px);
    height: 38px;
}

.tde-info-container
{
    height: 19px;
}

.tde-info-label {
	width: 100px;
	overflow: hidden;
}

.tde-info-value {
	display: inline-block;
    word-wrap: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
}
	
.tde-tree-container {
	position: absolute;
    top: 140px;
    left: 0px;
    width: 100%;
    height: calc(100% - 140px);
}

.tde-tree-filter-container {
	position: relative;
	display: inline-flex;
	width: 100%;
	max-width: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tde-tree-filter {
	position: relative;
	width: calc(100% - 20px);
	padding-left: 5px;
}

.tde-tree-filter-icon {
	position: relative;
}

.tde-tree-view {
	height: calc(100% - 35px);
}

.tde-tree {
	position: relative;
	height: 100%;
}

.tde-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #368ec4;
    font-size: 60px;
    line-height: 85px;
    height: 85px;
    text-align: center;
}

.tde-spinner[show] {
    display: block;
}

.tde-ctx-menu {
	z-index: 1000;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    border-color: #E2E4E3;
    border-width: 2px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    -moz-box-shadow: 3px 3px 0px 0px #CDCED1;
    -webkit-box-shadow: 3px 3px 0px 0px #CDCED1;
    box-shadow: 3px 3px 0px 0px #CDCED1;
    height: 24px;
    padding: 0px;
}

.tde-menuitem {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.tde-menuitem:hover {
	background-color: #E6E7E8;
	cursor: pointer;
}

.tde-menuitem-img {
	height: 20px;
    width: 20px;
    margin-right: 5px;
}

.tde-menuitem-label {
/* 	font-family: "3ds-Light"!important; */
	font-family: "arial"!important;
	font-size: 14px;
    line-height: 16px;
}

.tde-asam-credential[disabled] {
/* 	background-color: #E2E4E3; */
	color: #D1D4D4;
}

.tde-asam-credential[invalid] {
	background-image: wux-ui-3ds-required;
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: none;
}

.tde-table-row[selected] {
	background-color: #78BEFA;
}

 
