/* .construction {
      text-align: center;
      font-weight: bold;
      background-color: #FEE000;
      font-family: sans-serif;
    }
.licensecheck {
      text-align: center;
      font-weight: bold;
      background-color: #FFFCD6;
      font-family: sans-serif;
}

.xs-container {
	height: 100%;
}

.uwa-widget {
	display: none;
	height: 100%;
}

.loading-msg {
	display: none;
}

.xs-container[data-state="is-loading"] .loading-msg {
    display: block;
}

.xs-container[data-state="is-init"] .uwa-widget {
   display: block;
} */
