
:host {
  background-color: transparent;
}
.pcontainer {
    position: relative;
}
.c-btn {
    height: 25px;
    width: 32px;
    min-width: 25px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;   
    padding-left: 1px;
    padding-right: 1px;    
    margin-right: 2px;    
}
.c2-btn {
    height: 25px;
    width: 40px;
    min-width: 25px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;   
    margin-right: 2px;
}
.cl1-btn {
    height: 25px;
    width: 110px;
    color: #00008B;
    min-width: 25px;
    padding-top: 1px;
    padding-bottom: 1px;    
    margin-right: 2px;
}
.cl2-btn {
    height: 25px;
    width: 103px;
    color: #00008B;
    min-width: 25px;
    padding-top: 1px;
    padding-bottom: 1px;    
    margin-right: 2px;
}

.c-num-btn
{
    color: #0000FF;
}
.c-constant-btn
{
    color: #00008B;
}
.c-text-btn
{
    color: #8A2BE2;
}

.flexrow {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 3px;   
    align-items: center;    
    flex: none;
}
