<div class="editIssueDataSelf">
    <div class="editIssueDataSelfTitle">
        <input class="title" autocomplete="off" id="title" type="text" placeholder="<%- getNLS('issueTitle') %>" value="<%- get('V_DEL3DL_Title') %>"></input>
        <div class="editTitleButton"></div>
    </div>
    <div class="editIssueDataSelfDate">
        <p><%- getNLS('createdOn') %> <%- originated.split(' ')[0] %> <%- getNLS('createdAt') %> <%- originated.split(' ')[1] %></p>
    </div>
    <div class="editIssueDataSelfThumbnailContainer">
        <div class="editIssueDataSelfThumbnail"/>
    </div>
</div>
<div class="editIssueDataActionsContainer">
    <p><span><%- numberActions %></span> <%- getNLS('numberAction') %></p>
    <div class="editIssueDataActions"/>
</div>
<div class="editIssueDataContentsContainer">
    
    <div class="editIssueDataContents"/>
</div>
