<div class="modalLeanget"></div>
<div class="editStickyViewMaxViewWrapper onEditStickyViewMaxOpen">
    <div class="editStickyViewMaxHeader">

        <div class="editStickyViewMaxTab">
            <% _.each(tabs, function( val, key ){ %>
                <div class="editStickyViewMaxTabElement <%=val%>">
                </div>
            <% }) %>
        </div>

        <div class="editStickyViewMaxClose"/>
    </div>
    <div class="editStickyViewMaxContent">
        <div class="editStickyViewMaxLeftContent"/>
        <div class="editStickyViewMaxRightContent"/>
    </div>
</div>
