<div class="editActionDataSelf">
    <div class="editActionDataSelfTitle">
        <input class="title" autocomplete="off" id="title" type="text" placeholder="<%- getNLS('actionTitle') %>" value="<%- get('V_DEL3DL_Title') %>"</input>
        <div class="editTitleButton"></div>
    </div>
    <div class="editActionDataSelfDate">
        <p><%- getNLS('createdOn') %> <%- originated.split(' ')[0] %> <%- getNLS('createdAt') %> <%- originated.split(' ')[1] %></p>
    </div>
    <div class="editActionDataSelfThumbnailContainer">
        <div class="editActionDataSelfThumbnail"/>
    </div>
</div>
