:host {
	width: initial;
}

.doeoptions {
	margin: 5px;
	display: table;
}

.doetechniqueoptions {
	height: 60%;
}

.techniqueoptions {
	float: left;
	width: 46%;
	margin: 5px;
	height: 100%;
}

.designoptions {
	width: 43%;
    margin: 5px 5px 5px 0px;
}

.techniquedescription {
	float: right;
	width: 50%;
	padding: 5px;
	margin: 5px;
}

.doetechniqueoptions, .executionoptions {
	/* float: left;
	display: table-column; */
	padding: 5px;
	margin: 5px;
}

.inline {
	display: inline-flex;
}

.block {
	display: block;
}

.margin-left {
	margin-left: 5px;
}

.margin-bottom {
	margin-bottom: 5px;
}

.table {
	position: relative;
	border: 1px solid #D0D2D6;
	height: 300px;
}

#general, #factors, #designmatrix, #responses {
	padding: 11px 0px 11px 0px;
}

#pluginchooser {
    margin-left: 20px;
}

legend {
	margin-bottom: 10px;
	white-space: nowrap;
}

img {
	width: 70%;
	height:50%;
}

sp-checkbox {
	margin-top: 3px;
}

label {
	font-weight: normal;
}
