/*Start: MIL UI*/
.mil-panel-container{
	width: 100%;
	height: 100%;
	padding-right: 12px;
}

.mil-tree-container{
	position: relative;
	height: 90%;
}

.mil-button-container{
	position: relative;
	height: 10%;
	float: right;
	padding-top: 8px;
}
.mil-combobox-button{
	background: none !important;
}
.mil-combobox-expanderbutton{
	border-style: dotted !important;
}
/*End: MIL UI*/
