.meetingView
{
  width: 100%;
  height: 100%;
}
.meetingViewContent
{
    height: 79%;
    width: 100%;
}
.meetingViewFooter
{
    margin-left: 5%;
    height: 19%;
    width: 90%;
    max-height: 12em;
    display: flex;
    flex-direction: column;
    background: #556E85;
    border-radius: 10px;
    justify-content: center;
    -webkit-justify-content: center;
}
.meetingViewFooter .meetingDuration
{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}
.meetingViewFooter .meetingStartFooter
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}
.meetingDuration .buttonTitle
{
    border-radius: 0;
    line-height: 2.5em;
}
.meetingStartFooter .buttonTitle
{
    line-height: 2.5em;
    border-radius: 0.5em;
}
.meetingDuration .buttonView
{
    width: 20%;
}
.onGuidedMeeting .meetingDuration .buttonView,
.onFreeMeeting .meetingDuration .buttonView
{
    pointer-events: none;
}
.meetingStartFooter .buttonView
{
    width: 60%;
}
.meetingDuration .Meeting5 .buttonTitle
{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.meetingDuration .Meeting30 .buttonTitle
{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.meetingDuration .checked .buttonTitle
{
    color: #FFFFFF;
    background-color: #239de8;
}
.onFreeMeeting .meetingDuration .buttonTitle,
.onGuidedMeeting .meetingDuration .buttonTitle
{
    color: #82898f;
}
.onFreeMeeting .meetingDuration .checked .buttonTitle,
.onGuidedMeeting .meetingDuration .checked .buttonTitle
{
    background-color: #708ea1;
    color: #FFFFFF;
}
