.issueThumbnailView
{
    height: 15em;
    width: 15em;
    margin: 0 auto;
}

.stickyNoteView.selected .issueNoteViewContent
{
  box-shadow: 0 0 0 0.2em #627A8F !important;
  border-radius: 3%;
}
.issueNoteViewContent
{
  position: absolute;
  pointer-events: all;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
  top: 0%;
}

.stickyNoteView.enable .issueNoteViewContent
{
  z-index: 4;
}
