.stickyThumbnailView
{
    height: 100%;
    width: 100%;
}

.thumbnailView .stickyNoteViewBackground
{
    box-shadow: 0 0 0.4em rgba(0,0,0,.3);
}

.thumbnailView {
    border: 0.5rem solid transparent;
}

.thumbnailView.selected {
    border: 0.5rem solid #09c5fb;
    border-radius: 3%;
}
