.loading {
	text-align: center;
	vertical-align: middle;
}

#layout-header {
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border: none;
	height: 45px;
}

#layout-header > .elorn-controlbar {
}

#layout-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 45px;
	bottom: 0;
	border: none;
	font-size: 11pt;
}

#layout-header > .elorn-controlbar {
    margin: 0;
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: left;
}

.preview-input-container {
	background-color:#e9eae4;
	position: relative;
	top: 5px;
	width: 100%;
	text-align: left;
	padding-left: 5px;
	padding-bottom: 5px;
	border-color: #BBB;
	border-style: solid;
	border-width: 1px;
}

.preview-input {
	height: 27px;
	min-width: 150px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.preview-input-btn {
	vertical-align: bottom;
    height: 27px;
    width: 27px;
    padding: 3px;
}

.preview-input > span {
	background-color: #C9CAC4;
	margin-right: 5px;
	padding: 3px;
}
.preview-input > span > label {
	margin-right: 10px;
}

.preview-error {
	color: #7F7F7F;
	font-family:courier;
}

.elorn-field-content > textarea.rgn-unmodified,
.elorn-field-content > select.rg-unmodified,
.elorn-field-content > input[type="checkbox"].rgn-unmodified {
	background-color: #FF9C40;
}

.elorn-tabbar {
	height: 28px !important;
	line-height: 26px !important;
}

.elorn-tabbar > div > img {
	padding-right: 3px !important;
}

.elorn-tabcontent {
	top: 29px !important;
}

.preview-panel {
}

.elorn-controlbar button img {
	height: 16px;
}

.elorn-controlbar input {
	width: 120px;
}

#layout-toolbar button img {
	height: 32px;
}
