/*Start: Links UI*/
.MGA-DELWebMfgAssetsDefUIControls-LinksUI-Modal .modal-body{
	margin-bottom: 10px;
	overflow-y: auto;
}

.MGA-linksUIContainer {
	min-width: 400px;

	.linkView-toolbar {
    	text-align: center;
    	.uwa-segmented {
      		display: inline-block;
    	}
    }

	.LinksUI-menuDiv {
		min-height: 300px;
		.wux-controls-loader{
			text-align: center;
		}
		.pprTypeDiv {
			margin: 15px;
			text-align: center;
			font-size: medium;

			.pprTypeTitleDiv {
				padding: 2px;
			}
			.connectionDiv {
				padding: 10px;
				min-height: 50px;
				background-color: LightGray;
			}
			.icon {
				float: left;
				margin-left: 5%;
				min-height: 32px;
			}
			.icon img {
				width: 32px;
				height: 32px;
			}
			.connectionLabel {
				white-space: nowrap;
				width: 60%;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 32px;
				vertical-align: middle;
			}
			.wux-controls-button {
				min-height: 32px;
			}
		}
	}
	.LinksUI-noSelectionDiv {
		text-align: center;
		margin-top: 30px;
		font-size: medium;
	}

}
/*End: Links UI*/
