<div class="editStickySketchButtons">
  <div class="editStickySketchButton" id="editStickySketchCloseButton">
  </div>
</div>
<div class="editStickySketchDrawAreaContainer" style="background: white">
	<div class="editStickySketchDrawArea" id="editStickySketchDrawArea" style="background: <%=V_DEL3DL_Background_Color%>">
	</div>
</div>
<div class="editStickySketchButtons">
  <div class="editStickySketchButton" id="editStickySketchPenButton">
  </div>
  <div class="editStickySketchButton" id="editStickySketchEraseButton">
  </div>
  <div class="editStickySketchButton" id="editStickySketchClearButton">
  </div>
</div>
