<div class="circleMenuView">
</div>
<div class="stickyNoteViewScalable">
	<div class='stickyNoteViewScalableContent'>
		<div class="stickyNoteViewBackground" id="stickyNoteViewBackground" style="<% if (typeof(V_DEL3DL_Background_Color) !== 'undefined') { %>;background: <%=V_DEL3DL_Background_Color%>;<% } %>">
			<div class="stickyNoteViewContent">
			  <div class="postit-header">
			    <div class="postit-header-peoplePicture"></div>
			    <div class="postit-header-stickerPicture"></div>
			  </div>
			  <div class="postit-info">
			   <div class="postit-info-status"></div>
			  </div>
			</div>
		</div>
	</div>
	<div class='stickyNoteDropZone'></div>
</div>
<div class='stickyNoteEditZone'></div>
