/* 
_SecurityContext.scss
*/

.secureField {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	> h5 {
		text-align: left;
		margin-top: 7px;
		margin-left: 93px;
		margin-bottom: 7px;	
		color:#FFF;			
	}
	> select, > input {
		height: 35px;	
		width: 305px;
		color: #368ec4;
		font-weight: bold;
	}
	> input {
		height: 25px;
	}
}
.divContainer {
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:linear-gradient(to bottom,#487d9b, #3d6680);
	margin-top:50px;
	border-radius:15px;
	border: 2px #368ec4 groove;
}
.divContainer > button, .step > button {
	width: 310px;
	height: 35px;
	margin-top: 15px;
	margin-bottom: 25px;
	color:#368ec4;
	font-weight:bold;		
}

