$auxiliaryView-toolbar-height: 45px;

.ui-container {
	position: relative;
	height: 100%;
	width: 100%;
	[data-type=ui-frame-2d] {
		z-index: auto !important;
	}
	.wux-afr-framewindow-uiframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.leftBloc-container, .bottomBloc-container, .rightBloc-container, .auxiliaryBloc-container {
		position: relative;
		height: 100%;
		width: 100%;
	}
	.auxiliaryBloc-container {
		overflow: auto;
		.auxiliaryView-toolbar {
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			height: $auxiliaryView-toolbar-height;
			overflow: hidden;
		}
		.auxiliaryView-container {
			position: absolute;
			top: $auxiliaryView-toolbar-height;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.linkView-toolbar {
		text-align: center;
		.uwa-segmented{
			display: inline-block;
		}
	}
	.editor-read-only {
		color: grey;
	}
}

.view-preferences-toggle {
	text-align: center;
}

.xml-preferences-button{
			transform : scale(0.7);
			margin-top: auto;
}

.xml-references-button{
			border:none;
}

.view-preferences-linecontrol {
	text-align: center;
}

.view-preferences-linecontrol input {
	text-align: center;
	width: 80px;
	height :30px
}

.MGA-DELWebMfgAssetsDefUICommands-EditTVColumnsCmd-Dialog {
	.modal-content {
		width: 45%;
	}
}

.editViews-modal{
	.modal-content{
		width: 680px;
	}
}

.lineEditorForMagnitudeInMFNMGATable{
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.type-icon-datagrid {
  padding-right: 5px;
  width:21px;
  height:16px
}

.mil-panel-container{
	width: 100%;
	height: 100%;
	padding-right: 12px;
}

.mil-panel-container{
	.scope-selection-container{
		overflow: hidden;
    margin-top: 5px;
		.wux-controls-abstract{
			margin-left: 15px;
    	overflow: hidden;
    	padding: 0px;
    	display: inline-flex;
		}
	}
}

.mil-tree-container{
	position: relative;
	height: calc(100% - 30px);
}

.mil-button-container{
	position: relative;
	height: 30px;
	float: right;
	padding-top: 7px;
}
.mil-combobox-button{
	background: none !important;
}
.mil-combobox-expanderbutton{
	border-style: dotted !important;
}


.createMfgItem-dialog-container{
	.custom-wuxForm-container{
		margin-left: -15px;
	 }
}
/* Added as part of Update MBOM command */

.update-dialog-container {
	display: inline-block;
	width: calc(100% - 20px);
	height: calc(100% - 2px);
}

.update-dialog-container > .product-revision-list-container {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 280px);
}

.update-dialog-container > * {
  margin-bottom: 5px;
  margin-left: 5px;
}

.update-dialog-revision-icon {
  padding-right: 5px;
  height: 23px
}

/* Added as part of Reconnect Scope and ReviseAndReconnect scope command */

.reconnectScope-dialog-container {
	display: inline-block;
	width: calc(100% - 20px);
	height: calc(100% - 2px);
}

.reconnectScope-dialog-container > .product-revision-list-container {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 135px);
}

.reconnectScope-dialog-container > * {
  margin-bottom: 5px;
  margin-left: 5px;
}

.reconnectScope-dialog-container > .wux-controls-abstract {
  margin-left: 15px;
}

/* Added for Progress Indicator Bar */
.appProgressInd-container {
	line-height: 0px;
}
