.stickyNotePanelView
{
  position: absolute;
  width: 100%;
  height: calc(100% - 2em);
  top: 2em;
  box-sizing: border-box !important;
  padding: 2%;
}
.stickyNoteEdit
{
    width: 100%;
    height: auto;
}

.stickyNoteYellow {
  background-color: #F8F7B6;
}
.stickyNoteWhite {
  background-color: #F5F5F5;
}
.stickyNotePurple {
  background-color: #D4CDF3;
}
.stickyNotePink {
  background-color: #F1C3F1;
}
.stickyNoteGreen {
  background-color: #C5F7C1;
}
.stickyNoteBlue {
  background-color: #C9ECF8;
}
.stickyNoteImage {
  background-color: white;
}
.stickyNoteCreateArea
{
  margin-left: 5%;
  background: #556E85;
  border-radius: 0.5em;
  width: 90%;
  height: 7.75em;
  margin-top: 10%;
}
.stickyNoteCreateTitle
{
  color: #FFF;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  font-size: 1.4em;
  font-weight: bold;
}
.stickyNoteCreatePanel
{
  display: flex;
  height: 5em;
  width: 100%;
  justify-content: space-evenly;
}
.stickyNoteCreatePanel .buttonView
{
  width: 30%;
}
.actionLogViewFocused .buttonView.NOTE,
.actionLogViewFocused .buttonView.ISSUE,
.issueLogViewFocused .buttonView.NOTE,
.issueLogViewFocused:not(.editIssueFocused) .buttonView.ACTION,
.editIssueFocused .buttonView.NOTE,
.editIssueFocused .buttonView.ISSUE,
.editActionFocused .buttonView.NOTE,
.editActionFocused .buttonView.ISSUE,
.editActionFocused .buttonView.ACTION
{
  pointer-events: none;
}
.actionLogViewFocused .buttonView.NOTE .buttonTitle,
.actionLogViewFocused .buttonView.ISSUE .buttonTitle,
.issueLogViewFocused .buttonView.NOTE .buttonTitle,
.issueLogViewFocused:not(.editIssueFocused) .buttonView.ACTION .buttonTitle,
.editIssueFocused .buttonView.NOTE .buttonTitle,
.editIssueFocused .buttonView.ISSUE .buttonTitle,
.editActionFocused .buttonView.NOTE .buttonTitle,
.editActionFocused .buttonView.ISSUE .buttonTitle,
.editActionFocused .buttonView.ACTION .buttonTitle
{
  color: #005686;
  background: #b4b6ba;
  box-shadow: none;
}
