<div class="sketchControlColor"></div>
<div class="sketchControlButtons">
  <div class="sketchControlSpacer"></div>
  <div class="sketchControlButton sketchControlPen">
  </div>
  <div class="sketchControlButton sketchControlErase">
  </div>
  <div class="sketchControlButton sketchControlClear">
  </div>
  <div class="sketchControlButton sketchControlUndo">
  </div>
  <div class="sketchControlButton sketchControlRedo">
  </div>
  <div class="sketchControlButton sketchShowHide">
  </div>
  <div class="sketchControlSpacer"></div>
</div>
