.currentMeetingView.hideCurrentMeetingView > div
{
    display: none !important;
}
.currentMeetingView
{
    width: 100%;
    height: 100%;
    display: flex;
}
.previousButtonView
{
    width: 3%;
    height: 100%;
    z-index: 10;
}
.nextButtonView
{
    width: 3%;
    height: 100%;
    z-index: 10;
}
.previousButtonView .buttonIconImage,
.nextButtonView .buttonIconImage
{
    height: auto;
}
.currentMeetingCenter
{
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.currentMeetingCenter .meetingLeangetCollectionView
{
    width: 100%;
    height: 100%;
    position: relative;
}
.currentMeetingCenter .currentMeetingToolbar
{
    width: 100%;
    height: 3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.currentMeetingView .previousButtonView .buttonIconImage
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.currentMeetingView .nextButtonView .buttonIconImage
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.roadMap
{
    width: 100%;
    justify-content: center;
    display: flex;
}
.roadMapStop
{
    width: 1.75em;
    height: 0.75em;
    background: #ccc;
    border-radius: 0.15em;
    margin-right: 0.75em;
    margin-left: 0.75em;
}
.roadMapStop.visited
{
    background: rgb(156, 207, 239);
}
.roadMapStop.current
{
    background: #239de8;
}
.currentMeetingCenter .layout_MainDropGrid
{
    width: 117%;
    height: 100%;
    left: -8%;
    position: absolute;
}
