/*
 * Dialogs with fields
 */

.popupContent {
	height:100%;
}

.field-dialog {
	display: block;
	background-image: url("images/fields/dg_banner.jpg");
	background-repeat:repeat-x;
	background-color: white;
	border: 1px solid #5C5C5C;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height:100%;
}

.field-dialog-title {
	padding-left:60px;
	padding-top:1ex;
	color: #555555;
	font: bold 20px tahoma, arial, verdana, sans-serif;
}


.field-dialog-message {
	margin: 16px 0;
	padding: 0 10px;
	color: #555555;
	font: 14px tahoma, arial, verdana, sans-serif;
	text-align: right;
	border-bottom: 1px solid #C1C1C1;
	
}

.field-container, .field-dialog-container {
	overflow: auto;
}

.field-dialog-buttonbar {
	text-align: right;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 4px;
}

.field-dialog-button {
	margin-right: 5px;
	margin-bottom: 10px;
	border: 1px solid #C1C1C1;
	background-color: white;
	min-width: 60px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.field-dialog-button:hover {
	border: 1px solid #000000;
}

.field-dialog-resize {
	cursor: nw-resize; 
	position:absolute;
	right: 0px;
	bottom: 0px;
}

/* Fields */

.field {
	display: table-row;
}

.field-label {
	display: table-cell;
	padding: 0px 10px;
	margin: 0px 10px;
	color: #5C5C5C;
	text-align: right;
	white-space: nowrap;
}

.field-input {
	display: table-cell;
	font: 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px 0px;
	min-width: 150px;
	width: 100%;
}

.field.focus-field {
	background-color: #DDE;
}

/* Actions */


.field-actionbar {
	display: table-cell;
	padding: 0px 5px;
}

.field-action {
	border: 1px solid #C1C1C1;
	background-color: white;
	margin-left: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.field-action:hover {
	border: 1px solid #000000;
}

/* Text fields */


.field-text-input:hover {
	border: 1px solid #000000;
}

.field-text-input {
	color: black;
	border: 1px solid #C1C1C1;
	background-color: #FFFFFF;
	background-image: url("images/fields/text-bg.gif");
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-width: 150px;
	width: 100%;
	padding: 0;
}

.gwt-TextBox-readonly {
	background-image: none;
    background-color: #DDD;
}

.field-choice-input:hover {
	border: 1px solid #000000;
}

.field-choice-input {
	border: 1px solid #C1C1C1;
	background-color: #FFFFFF;
	background-image: url("images/fields/text-bg.gif");
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-width: 150px;
	width: 100%;
	padding: 0;
}

.field-list-input {
	border: 1px solid #C1C1C1;
	background-color: #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-width: 150px;
	width: 100%;
	padding: 0;
}


.field-checkBox-input:hover {
	
}

.field-checkBox-input {
	color: #5C5C5C;
   	font-family:Arial Unicode MS,Arial,sans-serif;
	font-size:small;
}


/* Fields errors and warnings */

.field-error {
	background-image: url("images/fields/message_error.gif");
	background-repeat: no-repeat;
	background-position: top right;
	border: 1px solid #AA4040;
}


.field-warning {
	background-image: url("images/fields/message_warning.gif");
	background-repeat: no-repeat;
	background-position: top right;
	border: 1px solid #CCCC10;
}

.field-info {
	background-image: url("images/fields/message_info.gif");
	background-repeat: no-repeat;
	background-position: top right;
}
.composite-field {
	
}

.composite-field-group {
	border: 1px solid #C1C1C1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1ex;
	padding-top:0;
	margin: 1ex;
}
