body {
	background-color: transparent;
	overflow: hidden;
}
.sim-ui-portal-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
}
.sim-ui-portal-frame {
	width: 100%;
	height: 100%;
}
.sim-ui-portal-help-container {
	visibility: hidden;
	position: absolute;
	z-index: 100000;
	width: 922px;
	height: 540px;
}
.sim-ui-portal-help-frame{
	visibility: hidden;
	height: 100%;
	width: 100%;
	border:none;
}
.sim-ui-advise-tutorial{
	width:922px;
	height:540px;
	overflow:hidden;
	z-index:20001;
	position:relative;
	margin:auto;
}
.sim-ui-advise-tutorial-image{
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:20002;
	position:absolute;
	margin:0;
	top:0;
	left:0;
}
.sim-ui-advise-tutorial-prev{
	width:25px;
	height:40px;
	overflow:hidden;
	z-index:20003;
	position:absolute;
	margin:0;
	top:245px;
	left:45px;
	cursor:pointer;
}
.sim-ui-advise-tutorial-next{
	width:25px;
	height:40px;
	overflow:hidden;
	z-index:20003;
	position:absolute;
	margin:0;
	top:245px;
	right:25px;
	cursor:pointer;
}
.sim-ui-advise-tutorial-close{
	width:25px;
	height:25px;
	overflow:hidden;
	z-index:20003;
	position:absolute;
	margin:0;
	top:30px;
	right: 34px;
	cursor:pointer;
}
.sim-ui-advise-tutorial-dontShow{
	position: absolute;
	overflow: hidden;
	z-index: 20003;
	margin: 0;
	top: 468px;
	right: 70px;
	height: 21px;
	width: 150px;
	cursor: pointer;
}
.sim-ui-advise-tutorial-boxFill{
	position: absolute;
	background: url("../../webapps/Coachmark/assets/checked.svg");
	background-size: 100%;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 4px;
}
