.sim-ui-advise-splash-background{
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background-color: #ffffff;
	z-index: 10000;
}
.sim-ui-advise-splash{
	width: 790px;
	height: 480px;
	overflow: visible;
	z-index: 10001;
	background: url("../../webapps/SMAAnalyticsUI/assets/images/smaAdviseSplash.png") no-repeat center center transparent;
	position: relative;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}
.sim-ui-advise-splash-progress-container {
	position: absolute;
	left: 85px;
	bottom: 228px;
	width: 300px;
	height: 35px;
}
.sim-ui-splash-progressbar{
	width:80%;
	height:40%;
	margin-left:5%;
}
.sim-ui-splash-progressmessage{
	position:absolute;
	bottom:0px;
	height:10px;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	min-width:50px;
	width:100%;
	margin-left: -5%; 
}
.sim-ui-launch-cancel {
	position: absolute;
	right: 25px;
	height: 15px;
	width: 15px;
	background-color: grey;
	top: 5px;
	border-radius: 7px;
	color: #EFEFEF;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.ui-progressbar-value{
	background: #7BFDFD !important;
	width:100% !important;
	height:100% !important;
	margin-top: 5px;
}
.ui-progressbar-overlay{
	background:url("../../webapps/SMAAnalyticsUI/assets/icons/animated-overlay.gif");
	height:100%;
	filter:alpha(opacity=25);
	opacity:0.25
}
.sim-ui-advise-alert-message{
	position: relative;
	/*top: 3rem;*/
	right: 1rem;
	width: 15rem;
	height: 4rem;
	z-index: 10002;
	background: rgba(241, 239, 171, 0.98);
	border: 1px solid #8D7D0B;
	box-shadow: 10px 10px 10px #B4B09B;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	display:none;
}
.sim-ui-advise-alert-message-text{
	color: black;
	font-size:1.1rem;
	margin-top:auto;
	margin-bottom:auto;
	text-align: center;
}
.sim-ui-splash-tutorial-link{
	position: absolute;
	left: 272px;
	bottom: 144px;
	width: 80px;
	height: 13px;
	font-weight: normal;
	color: blue;
	cursor: pointer;
	font-size: 0.7rem;
	text-decoration: underline;
}
.sim-ui-advise-tutorial{
	width:722px;
	height:540px;
	overflow:hidden;
	z-index:20001;
	position:relative;
	margin:auto;
}
.sim-ui-advise-tutorial-image{
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:20002;
	position:absolute;
	margin:0;
	top:0;
	left:0;
}
.sim-ui-advise-tutorial-prev{
	width:25px;
	height:40px;
	overflow:hidden;
	z-index:20003;
	position:absolute;
	margin:0;
	top:245px;
	left:45px;
	cursor:pointer;
}
.sim-ui-advise-tutorial-next{
	width:25px;
	height:40px;
	overflow:hidden;
	z-index:20003;
	position:absolute;
	margin:0;
	top:245px;
	left:645px;
	cursor:pointer;
}
.sim-ui-advise-tutorial-close{
	width:25px;
	height:25px;
	overflow:hidden;
	z-index:20003;
	position:absolute;
	margin:0;
	top:30px;
	left:635px;
	cursor:pointer;
}
.sim-ui-advise-tutorial-dontShow{
	position: absolute;
	overflow: hidden;
	z-index: 20003;
	margin: 0;
	top: 468px;
	left: 490px;
	height: 21px;
	width: 150px;
	cursor: pointer;
}
.sim-ui-advise-tutorial-boxFill{
	position: absolute;
	background: url("../../plugins/Coachmark/img/checked.svg");
	background-size: 100%;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 4px;
}
.sim-ui-errpop-veil{
	background: white;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%
	z-index: 2001;
	color: #5e5e5e
}
.sim-ui-errpop-dsfont{
	font-family: '3ds';
}
.sim-ui-errpop-noshow{
	display: none;
}
.sim-ui-errpop-base{
	background: #eee;
	width: 50%;
	max-height:500px;
	/* height: 20%; */
	position: absolute;
	top: 25%;
    left: 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sim-ui-errpop-card{
	/* min-height: 38px; */
	max-height:300px;
	padding: 10px;
	margin: 10px;
	background-color: #F5F5F5;
	box-shadow: -1px 1px 2px 0px #D0CACA;
	color: #555;
	font-size: 14px;
	/*white-space: nowrap;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sim-ui-errpop-tracecard{
	height: 200px;
	overflow-y: scroll;
}
#sim-ui-errpop-msgcard{
	min-height: 60px;
	line-height: 1.5em;
	/* overflow-y: scroll; */
}
.sim-ui-errpop-btn-primary{
    background-color: #F5F6F7;
    background-image: linear-gradient(to bottom, #F5F6F7, #E2E4E3);
    border-color: #368EC4;
    color: #368EC4;
    padding: 6px 12px;
}
.sim-ui-errpop-btn-primary:hover, .sim-ui-errpop-btn-primary:focus {
    background-color: #EDF9FF;
    background-image: linear-gradient(to bottom, #EDF9FF, #C0D9E6);
    border-color: #487D9B;
    color: #3D6680;
}
.sim-ui-errpop-btn-primary:active, .sim-ui-errpop-btn-primary.active {
    background-color: #3C98CF;
    background-image: linear-gradient(to bottom, #3C98CF, #42A2DA);
    border-color: #3D6680;
    color: #FFFFFF;
}
button {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin: 5px 10px 10px 5px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	border: 1px solid #b4b6ba;
	min-width: 65px;
	min-height: 35px;
}
button:hover {
    background-color: #F5F6F7;
    background-color: #e6e8ea;
    background-image: -moz-linear-gradient(top,#e6e8ea,#d1d4d4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6e8ea),to(#d1d4d4));
    background-image: -webkit-linear-gradient(top,#e6e8ea,#d1d4d4);
    background-image: linear-gradient(to bottom,#e6e8ea,#d1d4d4);
    border-color: #5b5d5e;
    color: #77797C;
    padding: 6px 12px;
}

button:active {
    border-color: #5b5d5e;
    background-color: #e7e8e9;
    background-image: -moz-linear-gradient(top,#e7e8e9,#f0f1f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e7e8e9),to(#f0f1f2));
    background-image: -webkit-linear-gradient(top,#e7e8e9,#f0f1f2);
    background-image: linear-gradient(to bottom,#e7e8e9,#f0f1f2);
}
.sim-ui-errpop-header{
	font-size: 22px;
	margin-left: 15px;
	font-weight: normal;
}
#sim-ui-errpop-buttons{
	float: right;
	margin-bottom: 7px;
}
.no-splash-bgrd{
	z-index: 100;
}
.no-splash{
	display: none;
}

