/* -------------------------------------------------------------------------
    Splash Page Stylesheet for Windows/Mac Platforms
    smaUIDefinition.css
    
    Release: 2014x
    Version: 1.0
    
   ------------------------------------------------------------------------- */
   
div#divSplash {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-185px;
    margin-left:-250px;
    height:370px;
    width:500px;
    }

div#divSplashImage {
    width:500px;
    height:350px;
    background:url("../images/smaHomePageSplash.jpg") 0 0 no-repeat;
    border:1px solid #6673AA;
    }

p {
    margin-top:2px;
    font-family:verdana, arial, sans-serif;
    font-size:8pt;
    color:#5556aa;
    text-align:center;
    }
#StepsContainer {
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
    }
    
#stepsTree { 
	position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:230px;
	}
    
    
#stepsDetails {
    position:fixed;
    top:0px;
    left:230px;
    height:100%;
    width:76%;
    }
    
#StepResize {
    position:fixed;
    top:0px;
    left:230px;
    height:14px;
    width:14px;
    z-index:200;
    }
