.actionLinkedIndicator
{
    height: 80% !important;
    width: 80% !important;
    position: absolute;
    background-color: #C9ECF8;
    top: 30%;
    left: 30%;
    display: none;
}
.hasActionLinked .actionLinkedIndicator
{
    display: block;
}
.issueClipContent
{
    height: 33%;
    position: absolute;
    right: 11%;
    top: -6%;
    display: none;
}
.hasStaticLinked .issueClipContent
{
    display: block;
}
/** To position the edit view in parent context **/
.issueNoteView.editing
{
    position: static;
}
.editing .stickyNoteViewScalable
{
    visibility: hidden;
}
.editing .circleMenuView
{
    visibility: hidden;
}
.editing .stickyNoteViewScalable .stickyNoteDescription
{
    visibility: hidden !important;
}
.focused > .floatableCollectionView .stickyNoteView .actionLinkedIndicator
{
    box-shadow: 0 0 .4em rgba(0,0,0,.3);
}
