.taskNoteView.sent:not(.editing)
{
    filter: grayscale(.4) contrast(.6) brightness(1.2)
}
.taskClipContent
{
    height: 33%;
    position: absolute;
    right: 11%;
    top: -6%;
    display: none;
    z-index: 4;
}
.hasStaticLinked .taskClipContent
{
    display: block;
}
.taskNoteView.editing
{
    position: static;
}
.editing .stickyNoteViewScalable
{
    visibility: hidden;
}
.editing .circleMenuView
{
    visibility: hidden;
}
.editing .stickyNoteViewScalable .stickyNoteDescription
{
    visibility: hidden !important;
}
