.sizeView
{
    position:			absolute;
    top:				0;
    left:				0;
    width:				100%;
    height:				100%;
    display:			flex;
    align-items:		center;
    justify-content:	center;
    z-index: 2;
    background: rgba(255, 255, 255, 0.75);
}

.sizeView .size_SquareSizeSelector.size3LeangetButton img
{
    transform: rotate(45deg);
}

.sizeView .size_SquareSizeSelector.size2LeangetButton img
{
    transform: rotate(135deg);
}

.sizeView .size_SquareSizeSelector.size4LeangetButton img
{
    transform: rotate(90deg);
}

.sizeViewTitleContainer
{
    width: 100%;
    text-align: center;
    color: #239de8;
    font-size: 2.25em !important;
    background: none;
    border: none;
    font-family: '3DS';
    display: none;
}
.sizeView input:focus
{
    outline: none;
}
.size_SizeSelectorContainer
{
    display:			none;
    align-items:		center;
    justify-content:	space-around;
    width:				10em;
    height:				10em;
    flex-direction:		column;
    flex-wrap:			wrap;
}
.size_SquareSizeSelector
{
    height:				48%;
    width:				48%;
    margin:				1%;
    background:		#c0c0c0;
}
.deleteLeanget
{
    height: 5em;
    width: 4em;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}
.deleteLeanget .buttonView
{
    height: 90%;
    width: 90%;
}
.size_SquareSizeSelector .buttonView
{
    height: 100%;
    width: 100%;
}
.sizeView.SIZE1_SELECTED .SIZE1
{
    background: #368ec4;
}
.sizeView.SIZE2_SELECTED .SIZE1,
.sizeView.SIZE2_SELECTED .SIZE3
{
    background: #368ec4;
}
.sizeView.SIZE3_SELECTED .SIZE1,
.sizeView.SIZE3_SELECTED .SIZE2
{
    background: #368ec4;
}
.sizeView.SIZE4_SELECTED .SIZE1,
.sizeView.SIZE4_SELECTED .SIZE2,
.sizeView.SIZE4_SELECTED .SIZE3,
.sizeView.SIZE4_SELECTED .SIZE4
{
    background: #368ec4;
}
.size_SquareSizeSelector .buttonIconImage
{
    height: 20%;
}
.sizeViewTitleContainer::placeholder
{
    color: #7c95a3;
}
.pageStaticCollectionView .sizeViewTitleContainer
{
    margin-top: -4em;
    font-size: 2em !important;
}
.pageStaticCollectionView .size_SizeSelectorContainer
{
    margin-top: 3em;
    width: 8em;
    height: 8em;
    position: absolute;
    left:calc(50% - 4em);
}
.deleteLeangetConfirmation
{
    max-width: 25em;
    top: 0;
    right: 3em;
    position: absolute;
    z-index: 1;
    font-size: 1.5em;
    color: #7b94a3;
    line-height: 3em;
    opacity: 0;
    transition: opacity .2s ease-out;
}
.deleteLeangetConfirmation.visible
{
    opacity: 1;
}
