@import 'Toolbar';
@import 'GView';

/*Start: DROP	CONTAINER	*/
.dropLayer {
	position: relative;

	text-align: center;
	pointer-events: none;
	z-index: 90;	/* Less than 100 otherwise on top of mask */
	opacity: 1;
	color: darkgray;
}

.dropLayer.dragover {
	border: 5px dashed darkturquoise;
}

/*	IMAGE AND TEXT */
.dropViewImage, .dropViewText {

}

/*	IMAGE	*/
.dropViewImage {
	font-size: 6em;
}

/*	TEXT	*/
.dropViewText {
	font-size: 20px;
}

/* Styles for DnD container */
.mfndnd_invite_container {
    z-index: 98;
    width: 100px;
    height: 140px;
    background: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5b5d5e;
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 50px);
    pointer-events: none
}

.mfndnd_invite_container .mfndnd_invite_display {
    height: inherit;
    position: absolute;
    color: #5b5d5e;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center
}

.mfndnd_invite_display .mfndnd_invite_img {
	margin-top: 10px;
}

/*End: DROP	CONTAINER	*/

/*Start: CreateLinks UI*/
.MGA-DELWebMfgAssetsDefUIServices-CreateLinkUtil-Dialog{
	/*height: 400px;*/
}

.MGA-DELWebMfgAssetsDefUIServices-CreateLinkUtil-SwitchBtnDiv {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}

.MGA-DELWebMfgAssetsDefUIServices-CreateLinkUtil-FromToDiv {
	margin-bottom: 20px;
}
/*End: CreateLinks UI*/

.wux-tree-treelistview {
    .wux-datagrid-cell[data-index="taggerColor"],
    .wux-datagrid.wux-ui-state-focused .wux-datagrid-cell[data-index="taggerColor"] {
        padding: 0;

        .taggerColorCell {
            padding: 0;
            height: 100%;
        }
    }
}

.wux-layouts-treeview-multivaluecell-container {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:90%;
	display: inline-block;
	.wux-layouts-treeview-icon {
	 	margin-bottom: 2px;
		margin-top: 2px;
	}
	.wux-layouts-treeview-label {
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline;
		vertical-align: middle;
		width: 100%;
		white-space: nowrap;
	}
}

.wux-layouts-treeview-icon {
	display: inline-block;
	margin-bottom: 2px;
	margin-top: 2px;
}

.wux-layouts-treeview-label {
	vertical-align: middle;
}

.wux-layouts-rowentry-moreindicator {
	margin-top: 6px;
	right: 0px;
	position: absolute;
	font-size: 16px;
}

/*Start: Search UI*/
.search-dialog-container{
	position: relative;
	width: 100%;
	height: 100%;
	padding-right: 12px;
}

.search-tree-container{
	position: relative;
	height: 80%;
	width: 100%;
	.wux-controls-lineeditor{
		width: 100%;
		input{
				width: 100%;
		}
	}
}
/*End: Search UI*/

/* Start: SelectionControl Styles */
.Data-selection-UI, .wux-tooltip-shortHelp {
	.SubLabelDiv{
		vertical-align: middle;
		padding: 10px;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.SubRevisionDiv{
		padding: 10px;
	}
	.selectionUIitems-container{
	  	margin-left: 0px;
	}
	.toggle-accordeon-container{
		margin-left: 10px;
		overflow: hidden;
		padding: 0px;
	}
	 .TNRInfo{
		display: flex;
		margin-top: 3px;
	}
	#multiValueCellMoreIndicator{
		font-size: large;
		margin-right: 30px;
		margin-top: -26px;
	}
}
/* Ends: SelectionControl Styles */

/* Start: DataCollectionUI Styles */
.data-collection-form-UI
{
	.section-container{
		overflow: hidden;
		margin-left: 5px;
	}
	.toggle-accordeon-container{
		margin-left: 10px;
		overflow: hidden;
		padding: 0px;
	}
	.wux-dialog-inline-container{
		display: flex ;
		margin-right: 0px;
		margin-top: 7px;

		.unitseditor-input-group {
			width: 100%;
		}
		.unitseditor-input-group input {
			width: 100%;
		}
		.wux-controls-abstract.wux-controls-datepicker{
			width: 100%;
		}
		.wux-controls-toggle.wux-controls-switch{
				width: 100%;
		}
		.unitseditor-group-addon {
			border-left: 0;
			font-size: 12px;
			min-width: 52px;
		}
 	}
 	.wux-textElement{
		text-align: left;
		font-weight: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0px;
		margin-top: 4px;
		width: 35%;
	}
	.wux-controls-abstract.wux-controls-combobox, .wux-controls-abstract.wux-controls-lineeditor {
		width : 100%;
	}
	.wux-controls-abstract.wux-controls-editor,  .wux-ui-state-undefined {
		width : 100%;
	}
	.errorMessage {
		color: red;
		font-size: 12px;
		margin-left: 25px;
	}
	.validity {
	    padding-right: 0px;
	    position: absolute;
	    padding-left: 3px;
	    padding-right: 3px;
	    font-size: 20px;
	    color: red;
	}
}
/* Ends: DataCollectionUI Styles */

/* Start: Form-Sections-Container Styles */
.Form-Sections-Container{
	overflow: hidden;

	.section-container{
		overflow: hidden;
		margin-left: 10px;
	}
	.wux-type-inline-container{
		overflow: hidden;
		padding: 0px;
		display: flex;
		margin-right: 0px;
		margin-top: 7px;
	}
	.Type-Container{
		margin-left: 25px;
		margin-bottom: 11px;
		margin-right: 12px;
		margin-top: -7px;
	}
	.wux-type-textElement{
		text-align: left;
		font-weight: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0px;
		margin-top: 4px;
		width: 35%;
	}
	.Type-Section-Container{
		margin-left: 10px;
		overflow: hidden;
		padding: 0px;
	}
	.wux-controls-abstract.wux-controls-combobox, .wux-controls-abstract.wux-controls-lineeditor
	{
		width : 100%;
	}
}
/* Ends: .Form-Sections-Container Styles */

/* Start: ImplementedObjRev-Chooser Dialog Styles */
.implementedRevChooser-dlg-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 250px;
}

.implementedRevChooser-dlg-container > .implementedSection-header {
	margin-top: -10px;
	margin-left: 10px;
}

.implementedRevChooser-dlg-container > .implementedSection-container {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 115px);
	margin-left: 10px;
}

.implementedRevChooser-dlg-container > .implementedSection-container-withChkBox {
	position: relative;
	width: calc(100% - 10px);
	height: calc(100% - 195px);
	margin-bottom: 15px;
	margin-left: 10px;
}

.implementedRevChooser-dlg-container > .optionsSection {
	margin-left: 10px;
}
/* End: ImplementedObjRev-Chooser Dialog Styles */

/*Edit attribute dialog styles start*/
.EditAttribute-Dialog
{
	margin-left: 0px;
	width:       400px;
	overflow:    hidden;
	height:      auto;

	.section-container{
		overflow:      hidden;
		margin-left:   15px;
		margin-right:  5px;
	}
	.wux-dialog-inline-container{
		display:       flex;
		margin-right:  0px;
		margin-top:    7px;

		.unitseditor-input-group {
			width:     100%;
		}
		.unitseditor-input-group input {
			width:     100%;
		}
		.unitseditor-group-addon {
			border-left: 0;
			font-size: 12px;
			min-width: 52px;
		}
	}
	.wux-textElement {
		text-align:    left;
		font-weight:   normal;
		overflow:      hidden;
		text-overflow: ellipsis;
		white-space:   nowrap;
		margin:        0px;
		margin-top:    4px;
		width:         35%;
	}
	.wux-controls-abstract.wux-controls-editor,  .wux-ui-state-undefined
	{
		width :        100%;
	}
	.wux-controls-abstract.wux-controls-combobox, .wux-controls-abstract.wux-controls-lineeditor
	{
		width :       100%;
	}
	.errorMessage {
		color:        red;
		font-size:     12px;
		margin-left:   25px;
	}
	.validity {
		padding-right: 0px;
		position:      absolute;
		padding-left:  3px;
		padding-right: 3px;
		font-size:     20px;
		color:         red;
	}
}
/*Edit attribute dialog styles end*/

.etree-sync-node-label{
	background:   white !important;
    color:        black !important;
    left:         0 !important;
    right:        0 !important;
    bottom:       22px !important;
    text-align:   left !important;
    padding-left: 6px !important;
}

.unColorizeTagger .etree-sync-node-color {
	display: none !important; 
}

.etree-sync-node-color {
    display:   none;
    position:  absolute;
    left:      0;
    top:       0;
    bottom:    0;
    width:     5px !important;
}
