.sideStickerView
{
  height: 11%;
  width: 25%;
  position: absolute;
  display: flex;
}
.sideStickerView.animateScroll {
	transition: top .3s ease-out;
}
.sideStickerView img
{
  width: 75%;
  align-self: center;
  max-height: 100%;
  margin-left: 12.5%;
}
.sideStickerView.canDrag
{
    z-index: 60;
}
