.favoritesView
{
    height: 9%;
    background-color: #c1c8d4;
    width: 90%;
    position: absolute;
    border-radius: 3em;
    overflow: hidden;
}
.favoritesView.animateScroll
{
	transition: top .3s ease-out;
}
.favoritesViewContent
{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
}
.favoritesThumbnailContainer
{
    position: relative;
    display: inline-block;
    height: 100%;
    float: left;
}
img.favoritesThumbnail
{
    object-fit: cover;
    height: 100%;
    float: left;
    margin-right: 0;
    width: 5.7em;
    border-radius: 50%;
}
.favoritesInfoContainer
{
    height: 100%;
    margin-left: 5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.favoritesTitle
{
    font-weight: bold;
    color: #005685;
    margin-top: 3%;
    margin-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.favoritesUrl
{
    color: gray;
    font-size: smaller;
    line-height: 200%;
    margin-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1em;
}
