.leangetStoreView
{
  height: 25%;
  background-color: #c1c8d4;
  margin-bottom: 5%;
  width: 90%;
  position: absolute;
}
.leangetStoreView.animateScroll
{
	transition: top .3s ease-out;
}
.leangetStoreView.canDrag
{
    z-index: 60;
}
.leangetStoreViewContent
{
  width: 100%;
  height: 100%;
  text-align: center;
}
.leangetStoreViewContentTitle
{
    width: 100%;
    text-align: center;
    position: absolute;
    color: #239de8;
    font-size: 1.2em;
    line-height: 2em;
    font-family: '3DS';
    background: white;
    font-weight: bold;
}
.leangetStoreView img
{

	width: 100%;
	height: 100%;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

    backface-visibility: initial;
}
.leangetStoreView.storeViewDisable
{
    filter: opacity(0.6);
}
