.selectedLeangetView
{
    height: 7%;
    width: 100%;
}
.selectedLeangetViewContent
{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    border-color: #61798f;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-width: 0.15em;
}
.droppableSpace
{
    width: 100%;
    height: 0%;
    background-color: #239de875;
    overflow: hidden;
    display: none;
}
.leangetDroppable .droppableSpace
{
    height: 7%;
    display: block;
    position: absolute;
    margin-top: 0.15em;
}
.selectedLeangetViewContent.leangetDragged
{
    opacity: 0.5;
}
.selectLeangetViewContentTitle
{
    color: #005685;
    width: 95%;
    margin-left: 2.5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.selectedLeangetView:first-child .selectedLeangetViewContent,
.selectedLeangetView:first-child .droppableSpace
{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.selectedLeangetView:last-child .selectedLeangetViewContent,
.selectedLeangetView:last-child .droppableSpace
{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.selectedLeangetViewContent.visited
{
    background-color: rgb(156, 207, 239);
}
.selectedLeangetViewContent.focused
{
    background-color: #239de8;
}
.selectedLeangetViewContent.focused .selectLeangetViewContentTitle
{
    color: white;
}
