/*!  Copyright 2015 Dassault Systemes. All rights reserved. */
/*
html {
    height: 100%;
}
body {
    min-height: 350px;
    height: 100%;
}
#canvas-div {
    height: 100%;
}
#eventNotifier {
    height:3px;
    background-color: #004971;
}
#msgContainer{
    position:absolute;
    z-index:150000;
    width:100%;
}
#icon-div {
    height: 100%;
    text-align: center;
    overflow: hidden;
    width:100%;
    position: relative;
}
.userMsg {
    margin: 8px;
    font-size: 1.3em;
    font-family:'3ds';
    font-weight: normal;

}
.SHAREPluginless_background {
    background-color:#4C79A2;
    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    overflow:hidden;
    margin:0;
    width:100%;
    height:100%;
    z-index: 100;
    display:table;
}
.IOSThumbnail_background {

    background-repeat:no-repeat;
    background-position:center center;
    text-align:center;
    overflow:hidden;
    margin:0;
    width:100%;
    height:100%;
    z-index: 100;
    display:table;
}

.drag_over_class {

    border-style: dashed;
    border-color: #368ec4;
    border-width: 2px;
    padding: 0
}

.font-3dsregular {
    font-family: '3ds';
    font-weight: normal;
}
.pad_invite_container {

    z-index: 2149483647;
    width: 100px;
    height: 100px;
    background: white;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5b5d5e;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    pointer-events: none
}

.pad_invite_container .pad_invite_display {
    height: inherit;
    position: absolute;
    text-align: center;
    color: #5b5d5e;
    left: 0;
    right: 0;
    margin: auto
}

.pad_invite_container pad_invite_txt {
    margin: 2px;
}
*/
